﻿.x-accordion-hd {
	background: #006699 !important;
	font-size:13px;
	font-weight: bold; 
}

.x-accordion-hd .x-panel-header-text {
	color: white;
	font-size:13px;
	font-weight: bold; 
}

.x-panel {
		border-color: #dbdbdb;
}

.x-panel-header {
	color: #FFFFFF !important;
	font-weight: bold; 
	font-size: 13px;
	border-color: #dbdbdb;
	background-image: none;
}

.x-panel-body {
		border-color: #dbdbdb;
		background-color: #fff;
}

.x-panel-bbar .x-toolbar, .x-panel-tbar .x-toolbar {
		border-color: #dbdbdb;
}

.x-panel-tbar-noheader .x-toolbar, .x-panel-mc .x-panel-tbar .x-toolbar {
		border-top-color: #dbdbdb;
}

.x-panel-body-noheader, .x-panel-mc .x-panel-body {
		border-top-color: #dbdbdb;
}

.x-panel-tl .x-panel-header {
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
}

.x-panel-tc {
	background-image: url(../images/Extjs/panel/top-bottom.gif);
}

.x-panel-tl, .x-panel-tr, .x-panel-bl,  .x-panel-br{
	background-image: url(../images/Extjs/panel/corners-sprite.gif);
	border-bottom-color: #dbdbdb;
}

.x-panel-bc {
	background-image: url(../images/Extjs/panel/top-bottom.gif);
}

.x-panel-mc {
	font: normal 11px tahoma,arial,helvetica,sans-serif;
	background-color: #f1f1f1;
}

.x-panel-ml {
	background-color: #fff;
	background-image: url(../images/Extjs/panel/left-right.gif);
}

.x-panel-mr {
	background-image: url(../images/Extjs/panel/left-right.gif);
}

.x-tool {
	font-family: aswIcons;
}
.x-tool-toggle {
	position: relative;
	float: left;
	margin-right: 8px;
	border: 0;
	border-right: 1px solid #FFFFFF;
	font-size: 16px;
	background: transparent !important;
	padding: 2px 8px 2px 0px;
}

.x-panel-collapsed .x-tool-toggle:before {
	content: "\3e";
}

.x-tool-toggle:before {
	content: "\2c";
}

