#userListNavGroup, #selectAgency, #agencyDetailsSubTab, #addUserSubTab, #agencyGroupsTab, #agencyLicenseTab, #agencyGroupDetailDialog, #agencySignupDetailDialog, #tabContentSelectSourceAgency, #tabContentDetailSection{
	float: left;
	width: 400px;
}
#selectUserDialog, #agencyID, #selectAgencySignupDialog, #agencyGroupsDialogSelectAgencyGroup{
	float: left;
	width: 350px;
}
#agencyID, #selectProducer{
	margin-top: 15px;
}
#selectAgencyActions{ /* Buttons below the select agency select box*/
	float: left;
	clear: both;
}
#agencyDetailsSubTab, #addUserSubTab, #agencyGroupsTab, #agencyLicenseTab, #userDetailTab, #userAgenciesSubTab{ /* Div holding the panels that toggle agency options */
	border: 1px solid #83A6D3;
	padding: 5px;
}
#userListActions, #detailNav{
	width: 300px;
	clear: right;
}
#licenseState, #licenseLOB{
	float: left;
	margin-right: 5px;
}