/*----------------------------------------------------------*/
/* Overrides for the Billing family                */
/*----------------------------------------------------------*/

.downBeforeFormLabel.notificationIcon {
    margin: 1em 0 0;
    padding: 0;
    width: auto;
    border-bottom: none;
}

.notificationDiv .downFieldGroup .downBeforeFormLabel + .downFormField{
    width: calc(100% - 40px);
}