#partyTestButton { width: 16px; }
#testContainer  {
	display: none; 
	position: fixed; 
	width: 200px; /* Hard coded for IE7, but need another solution. This container needs to be able to expand. */
	height: auto; 
}
.bubbleHeader { float: left; }
#closeIcon  {
	float: right;
	margin-left: 20px;
}
.cc_PopoutContainerLeft .cc-bubble-tc {}

#portfolioQuoteList { padding-top: 10px; }
#tasksGroup { padding-top: 10px; }
#taskList {
	clear: left;
	padding-top: 10px;
}
#messageGroup { padding-top: 10px; }