#consumerQuotesTitle {
	width: 1px; /* this is to get around a extjs bug that requires the div have some widht */
}

#consumerQuoteList ul.gridAction li {
	display: inline;
	padding-left: 4px;
	padding-right: 4px;
}

.x_Width200 {
	width: 200px;
}