#leftPanelArea{display: none;}
#main{width: 100%;}
#dashboard{margin-top: 10px;}
#newQuote #fields input, #newQuote #fields select{
	width:150px;
	margin-left:0px;
}
#newQuote #fields th, #newQuote #fields td{
	line-height:23px;
}

#notifications{
	padding:10px;
}
#taskQueue{
	padding:10px;
}
