@import url(x_interview_main.css);


/*Start Create New Bill Account Styles */
.x_BillAccountPartySamePayee, 
.x_BillAccountPartyDescription, 
.x_Section4, 
.x_Section3 {
	clear: both;
}

.x_BillAccountPartySamePayee {
	padding: 0px;
}

.CreateNewBillAccount .x_Section31 {
	display: none;
}

.x_BillAccountPartyChange, 
.x_BillAccountPartyAdd {
	margin: 10px 0;
}

.x_j1 h2 {
}

.x_Section3 .acrossFormField {
	font-weight: bold;
}

.CreateNewBillAccount .x_Section4 .acrossBeforeFormLabel {
	width: 240px;
}

.CreateNewBillAccount .x_j10 {
	width: 100%;
}

.AccountPlanSetup .x_Section5 .downBeforeFormLabel {
	width: 250px;
}

.AccountPlanSetup .x_Section5 .downBeforeFormLabel+.downFormField{
	width: calc(100% - 250px);
}

.x_Section31 {
	width: 200px;
	height: 65px;
	float: left;
	margin-right: 15px;
	/*background: url(../images/accountBadge.gif) no-repeat left top;*/
}

.x_i1 {
	width: 100%;
	float: left;
}

.x_j11 .acrossFieldGroup, 
.x_j12 .acrossFieldGroup {
	margin: 5px 0px 0px 50px;
	clear: both;
}

.x_j11 .acrossBeforeFormLabel {
	font-size: 1em;
	width: 140px;
	color: #525552;
	position: relative;
	top: 20px;
}

.x_j11 .acrossFormField {
	font-size: 1.3em;
	font-weight: bold;
	width: 140px;
	color: #212021;
	position: relative;
	top: -10px;
}

.x_j12 .acrossFieldGroup {
	position: relative;
	top: -7px;
	font-style: italic;
	color: #525552;
}

.x_j12 .acrossBeforeFormLabel {
	padding-right: 0px;
}

.x_j12 .acrossFormField {
	margin: 5px 0px 0px 0px;
}

.x_BillAccountPartyName {
	clear: both;
	margin: 20px 0px 0px 0px;
}

.x_BillAccountPartyName .acrossFormField {
	font-weight: normal;
}

.x_Section4 h2 {
}

.x_Section14 {
	clear: both;
}

.x_j2 {
	margin: 20px 0px 50px 0px;
}

.x_j2 .downFormField {
	width: 100%;
	font-style: italic;
	padding-bottom: 20px;
}

.x_Section16 {
	clear: both;
}


/* Custom Policy Plan Setup Styles */
.x_Section12 td {
	width: 100px;
}

.x_Section13 td {
	width: 100px;
}


/* Custom Party Styles */
/* .x_sgPartyInfoOtherNames input, .x_sgPartyInfoGeneralInfo input, .x_sgPartyInfoLicenses input{
	width: 75px;
}  cant set input sizes for ExyJs 5.X */
.x_PartyAssociations > h2 {
	width: 100px !important;
	float: left;
}

.x_PartyRelationshipSelect {
	margin-right: -10px;
}

.x_LargeHeader {
	font-size: 1.2em !important;
	font-weight: normal !important;
}

.x_LargeHeaderBold {
	font-size: 1.2em !important;
	font-weight: bold !important;
}

.x_PartyEditAssociation {
	width: 380px !important;
	margin: 5px 0px 0px 50px;
}

.x_PartyEditAssociation .cc-bubble-body {
}

.x_PlainHeader h2 {
}

.x_HyperlinkToggle .toggleHeader {
	background: white;
	font-size: 0.9em;
	margin-bottom: 0px;
}

.x_HyperlinkToggle .toggleHeaderInner {
	background: white;
	color: #0063a4;
	text-decoration: underline;
	font-weight: bold;
}


/* ==================== Interview page targeted styles ====================  */

/* ===== Text styles ===== */
.x_Italic {
	font-style: italic;
}

.x_Bold {
	font-weight: bold;
}

.x_FontCaption {
	width: 100%;
	font-size: small;
	color: black;
	font-weight: bold;
}

.x_HeaderFormat {
	font-size: small;
	color: black;
	font-weight: bold;
}

.x_HeaderPlainText {
	font-weight: normal;
	color: #444444;
	border-bottom: 0 none;
}

.x_PlainText {
	width: 100%;
}


/* ===== Text colors ===== */
.x_orange {
	color: #ff7011;
}

.x_InvalidAddress {
	color: red;
}


/* ===== Font sizes ===== */
.x_FontXXSmall {
	font-size: xx-small;
}

.x_FontXSmall {
	font-size: x-small;
}

.x_FontSize11 {
	font-size: 11px;
}

.x_FontSmall {
	font-size: small;
}

.x_FontMedium {
	font-size: medium;
}

.x_FontLarge {
	font-size: large;
}

.x_FontXLarge {
	font-size: x-large;
}


/* ===== Text alignment ===== */
.x_TextAlignLeft {
	text-align: left;
}

.x_TextAlignCenter {
	text-align: center;
}

.x_TextAlignRight {
	text-align: right;
}

.x_TextIndent25 {
	text-indent: 25px;
}

.x_TextIndent {
	text-indent: 50px;
}

.x_TextIndent100 {
	text-indent: 100px;
}

.x_TextIndent150 {
	text-indent: 150px;
}


/* ===== Alignment ===== */
.x_AlignLeft {
	text-align: left;
}

.x_AlignCenter {
	text-align: center;
}

.x_AlignRight {
	text-align: right;
}

.x_AlignRight > label {
	float: right;
}

.x_VerticalAlignMiddle {
	vertical-align: middle;
}

.x_VerticalAlignCellsMiddle { /*placeholder*/
}

.x_VerticalAlignCellsMiddle td {
	vertical-align: middle;
}

.x_VerticalAlignBottom {
	vertical-align: bottom;
}

.x_VerticalAlignTop {
	vertical-align: text-top;
}

.x_RightAlignFieldCaptions {
	/*placeholder - right align field captions on any field captions in this section unless otherwise defined*/
}

.x_RightAlignFieldCaptions .downBeforeFormLabel > label, .x_RightAlignFieldCaptions .acrossBeforeFormLabel > label {
	float: none;
	text-align: right;
}

.x_FloatRight {
	float: right !important;
}



/* ===== Widths ===== */
.x_Width5 {
	width: 5px;
}
.x_Width30perc { width: 30%;}
.x_Width40perc { width: 40%;}
.x_Width50perc { width: 50%;}

.x_Width10 {
	width: 10px;
}

.x_Width15 {
	width: 15px;
}

.x_Width20 {
	width: 20px;
}

.x_Width25 {
	width: 25px;
}

.x_Width30 {
	width: 30px;
}

.x_Width40 {
	width: 40px;
}

.x_Width50 {
	width: 50px;
}
.x_Width60
{
	width: 60px;
 
}

.x_Width65 {
	width: 65px;
}

.x_Width70 {
	width: 70px;
}

.x_Width75 {
	width: 75px;
}

.x_Width80 {
	width: 80px;
}

.x_Width90 {
	width: 90px;
}

.x_Width100 {
	width: 100px;
}

.x_Width110 {
	width: 110px;
}

.x_Width115 {
	width: 115px;
}

.x_Width120 {
	width: 120px;
}

.x_Width125 {
	width: 125px;
}

.x_Width130 {
	width: 130px;
}

.x_Width140 {
	width: 140px;
}

.x_Width145 {
	width: 145px;
}

.x_Width150 {
	width: 150px;
}

.x_Width152 {
	width: 152px;
}

.x_Width155 {
	width: 155px;
}

.x_Width160 {
	width: 160px;
}

.x_Width165 {
	width: 165px;
}

.x_Width170 {
	width: 170px;
}

.x_Width175 {
	width: 175px;
}

.x_Width180 {
	width: 180px;
}

.x_Width185 {
	width: 185px;
}

.x_Width190 {
	width: 190px;
}

.x_Width200 {
	width: 200px;
}

.x_Width205 {
	width: 205px;
}

.x_Width210 {
	width: 210px;
}

.x_Width215 {
	width: 215px;
}

.x_Width220 {
	width: 220px;
}

.x_Width225 {
	width: 225px;
}

.x_Width230 {
	width: 230px;
}

.x_Width240 {
	width: 240px;
}

.x_Width250 {
	width: 250px;
}

.x_Width254 {
	width: 254px;
}

.x_Width260 {
	width: 260px;
}

.x_Width270 {
	width: 270px;
}

.x_Width280 {
	width: 280px;
}

.x_Width285 {
	width: 285px;
}

.x_Width290 {
	width: 290px;
}

.x_Width300 {
	width: 300px;
}

.x_Width325 {
	width: 325px;
}

.x_Width350 {
	width: 350px;
}

.x_Width375 {
	width: 375px;
}

.x_Width400 {
	width: 400px;
}

.x_Width410 {
	width: 410px;
}

.x_Width420 {
	width: 420px;
}

.x_Width450 {
	width: 450px;
}

.x_Width475 {
	width: 475px;
}

.x_Width500 {
	width: 500px;
}

.x_Width530 {
	width: 530px;
}

.x_Width550 {
	width: 550px;
}

.x_Width575 {
	width: 575px;
}

.x_Width600 {
	width: 600px;
}

.x_Width630 {
	width: 630px;
}

.x_Width650 {
	width: 650px;
}

.x_Width675 {
	width: 675px;
}

.x_Width700 {
	width: 700px;
}

.x_Width750 {
	width: 750px;
}

.x_Width800 {
	width: 800px;
}

.x_Width850 {
	width: 850px;
}

.x_Width900 {
	width: 900px;
}

.x_Width60perc {
	width: 60%;
}

/* ===== Input Widths ===== */
/* These have to be input this way because the CSS Selector in Author doesn't allow
   you to input or select classes which have subtypes defined. */
.x_InputWidth75 { /*placeholder*/
}
.x_InputWidth75 .controlContainer {
	width: 75px;
}
.x_InputWidth75 .x-form-text-wrap{
	width: 75px;
}

.x_InputWidth165 { /*placeholder*/
}
.x_InputWidth165 .controlContainer {
	width: 165px;
}
.x_InputWidth165 .x-form-text-wrap{
	width: 165px;
}

.x_InputWidth200 { /*placeholder*/
}
.x_InputWidth200 .controlContainer{
	width: 200px;
}
.x_InputWidth200 .x-form-text-wrap{
	width: 200px;
}
/* .x_InputWidth200 input { width: 200px; } cant set input sizes for ExyJs 5.X */
.x_InputWidth215 { /*placeholder*/
}
.x_InputWidth215 .controlContainer{
	width: 215px;
}
.x_InputWidth215 .x-form-text-wrap{
	width: 215px;
}

.x_InputWidth215 .x-form-trigger-wrap{
	width: 215px;
}


.x_DropDownWidth215 {
	/*placeholder*/
}

.x_DropDownWidth215 .controlContainer{
	width: 215px;
}
.x_DropDownWidth215 .x-form-item{
	width: 215px;
}

.x_InputWidth250 { /*placeholder*/
}
.x_InputWidth250 .controlContainer{
	width: 250px;
}
.x_InputWidth250 .x-form-text-wrap{
	width: 250px;
}

.x_InputWidth100 { /*placeholder*/
}
.x_InputWidth100 .controlContainer{
	width: 100px;
}
.x_InputWidth100 .x-form-text-wrap{
	width: 100px;
}
/* ===== Heights ===== */
.x_Height300 {
	height: 300px;
}


/* ===== Background colors ===== */
.x_BackgroundLightGray {
	background-color: #D3D3D3;
}

.x_BackgroundDCTBlue {
	background-color: #83A6D3;
}

.x_BackgroundMediumBlue {
	background-color: #3467A8;
}


/* ===== Border styles ===== */
.x_BorderLightGray {
	border: #D3D3D3 solid thin;
	padding: 10px;
}

.x_BorderThin {
	border-bottom: 1px solid;
}

.x_BorderBottomThin {
	border-bottom: 1px solid;
}

.downLayout.x_BorderBottomThin {
	margin-bottom: 10px;
}

.x_BorderBottom {
	border-bottom: 2px solid #000000;
}

.x_BorderBottom,
.downLayout.x_BorderBottomThin {
	margin-bottom: 10px;
}

.x_BorderTop {
	border-top: 2px solid #000000;
}

.x_SectionTopBorderSeparator {
	border-top: 1px solid #CECECE;
	margin-top: 10px;
	padding-top: 10px;
}

.x_SectionTopBorderSeparator_Dotted {
	border-top: 1px dotted #CECECE;
	margin-top: 10px;
	padding-top: 10px;
}

.x_BottomBorderSeparator_Dashed {
	border-bottom: 1px dashed #bbbbbb;
	margin-bottom: 10px;
}


/* ===== Margin Left ===== */
.x_MarginLeft10 {
	padding-left: 10px;
}
.x_MarginLeft70  { margin-left:70px;  }
.x_MarginLeft65  { margin-left:65px;  }
.x_Margin50      { margin-left:50px;  }
.x_MarginLeft55  { margin-left:55px;  }
.x_MarginLeft45  { margin-left:45px;  }

.x_MarginLeft20 {
	padding-left: 20px;
}

.x_MarginLeft25 {
	padding-left: 25px;
}

.x_MarginLeft100 {
	padding-left: 100px;
}

.x_MarginLeft229 {
	padding-left: 229px;
}
/* Use this to align buttons with the form fields */
.x_MarginLeft235 {
	padding-left: 235px;
}


/* ===== Margin Top ===== */
.x_MarginTop {
	margin-top: 5px;
}

.x_MarginTop10 {
	margin-top: 10px;
}

.x_MarginTop15 {
	margin-top: 15px;
}

.x_MarginTop20 {
	margin-top: 20px;
}

.x_MarginTop25 {
	margin-top: 25px;
}


/* ===== Margin Bottom ===== */
.x_MarginBottom5 {
	margin-bottom: 5px;
}

.x_MarginBottom10 {
	margin-bottom: 10px;
}

.x_MarginBottom15 {
	margin-bottom: 15px;
}

.x_MarginBottom20 {
	margin-bottom: 20px;
}

/* ===== Margin Bottom ===== */
.x_MarginRight5 {
	margin-right: 5px;
}


/* ===== Padding Left ===== */
.x_PaddingLeft10 {
	padding-left: 10px;
}

.x_PaddingLeft60 {
	padding-left: 60px;
}

.x_PaddingLeft75 {
	padding-left: 75px;
}


/* ===== Padding Right ===== */
.x_PaddingRight10 {
	padding-right: 10px;
}

.x_PaddingRight20 {
	padding-right: 20px;
}


/* ===== Padding Bottom ===== */
.x_PaddingBottom20 {
	padding-bottom: 20px;
}

.x_PaddingBottom35 {
	padding-bottom: 35px;
}


/* ===== Table Styles ===== */
.x_BoldHeader TH {
	font-weight: bold;
}

.x_GrayBorders TABLE {
	border-top: solid 1px #DEDEDE;
	border-left: solid 1px #E4E4E4;
	border-right: solid 1px #E4E4E4;
	border-bottom: solid 1px #E4E4E4;
}

.x_GrayBorders TH {
	border-bottom: solid 1px #D1D1D1;
	background-color: #F5F5F5;
}

.x_GrayBorders TR {
	border-bottom: solid 1px #E4E4E4;
}

.x_CellPadding5 TD, .x_CellPadding5 TH {
	padding: 5px;
}

.x_CellPaddingRight5 TD, .x_CellPaddingRight5 TH {
	padding-right: 5px;
}

.x_CellPaddingRight15 TD, .x_CellPaddingRight15 TH {
	padding-right: 15px;
}

.x_ZebraStripe tr:nth-child(odd) {
	background-color: #F5F5F5;
}


/* ===== Special field styles ===== */
.x_MiddleInitialField { /*placeholder*/
}
/*.x_MiddleInitialField input { width:16px; } cant set input sizes for ExyJs 5.X */
.x_ReadOnlyFieldEllipsis {
	/* apply this along with a width.  This will cause the read only field to replace extras with dots */
}

.x_ReadOnlyFieldEllipsis > div {
	width: inherit;
}

.x_ReadOnlyFieldEllipsis > div > span {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}

/* If horizontal radio buttons overlap in IE7, apply this along with a set width to the field */
.x_HorizontalRadios > .radioGroupContainer {
	width: 100%;
}

.x_StackRadios {
	/*placeholder to stack any radios that are children of this element */
}

.x_StackRadios .radioItem {
	clear: left;
}

.x_RadioBottomMargin {
	/*placeholder to place a bottom margin on radio options - used primarily when stackradios is used.*/
}

.x_RadioBottomMargin label {
	margin: 0px 0px 20px 0px;
}

.x_RemoveMinHeight {
	min-height: 0px;
}

.x_TightenAcrossFieldGroups {
	/*placeholder - this will reduce the right margin for acrossFieldGroups to 3px from 10.  */
}

.x_TightenAcrossFieldGroups > .acrossFieldGroup {
	margin-right: 3px;
}

.x_ShortDownLayouts {
	/* [kellyke Nov 18, 10] The default min-height is 28px for downLayouts to maintain uniformity.  Using this
	on a section or table will cause all downLayout element *children* to have a min-height of 20px.  An example
	of the need for this is the new TransACT PV2 page, where downLayouts are used inside of tables to display 
	read-only tabular data.  */
}

.x_ShortDownLayouts .downLayout {
	min-height: 20px;
}


/* ===== Button styles ===== */
.x_MinimizeChildButtons {
	/* [kellyke Nov 18, 10] placeholder - place this on a section or table and all of the
	buttons padding and margins should be reduced.  This is useful when building a table with
	lots of loneIcons and hyperlinks  */
}

.x_NoRightMarginOnButton {
	/* [kellyke Nov 18, 10] the AG2 buttons are set up to have 10px of right margin by default.  This prevents
	the buttons from touching when placed across the page.  However, there are a few cases where due to space reasons
	you'd like to remove the margin and add your own styles.  If that's the case, then use this style.  It will set the 
	right margin to 0px.  Used for g-actions*/
}

.x_NoRightMarginOnButton .g-btn {
	margin-right: 0px;
}

.x_MinimizeChildButtons .g-btn-text {
	padding-top: 1px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}

.x_MinimizeChildButtons .g-btn {
	height: auto;
}

.x_MinimizeChildButtons .g-btn > a {
	height: auto;
}

.x_MinimizeChildButtons .g-action {
	margin-top: 0px;
	margin-bottom: 0px;
}

.x_RemoveMarginTop {
	margin-top: 0px !important;
}

.x_DownLayoutHorizontalScroll {
	overflow-x: auto;
	overflow-y: hidden;
}

/* ===== Images ===== */
.x_StreetSign {
	width: 60px;
	height: 80px;
	background: url("../images/streetSign.png") no-repeat left top;
}

.x_IE9TableWidthAuto {
}

.ext-ie9 .x_IE9TableWidthAuto .formTable {
	width: auto;
}

.x_ExtendedDropdown {
	width: 400px;
}

/* .x_ExtendedDropdown DIV.controlContainer DIV.x-form-field-wrap input 
{
width:400px;
} cant set input sizes for ExyJs 5.X */
.x_WhiteText {
	color: #FFFFFF;
}

.x_FakeGridHeader {
	vertical-align: middle;
	background-color: rgb(0, 102, 153);
	padding-top: 10px;
}

.x_SectionBottomBorderSeparator {
	border-bottom: 1px solid #CECECE;
	margin-bottom: 10px;
	padding-bottom: 10px;
}


.x_Size {
}

.x_AutoOverflow {
	overflow: auto;
}

.x_NoWrap {
	white-space: nowrap;
}

.x_DataTable {
}

.x_MarginTopMinusThree {
	margin-top: -3px;
}

.x_btnDisabled {
}
.x_columnB {
}
.x_FloatLeft
{
float: left;
}
.x_detailsHeader
{
display: block ;
}
.x_effDate
{
display: inline ;
}
.x_title
{
text-align: left;
}
.x_green
{
color: #6c0;
}





.x_detailTable
{

}
.x_card
{
display: block ;
}
.x_card\00002dlist
{
display: block;
}
.x_groupBox
{
display:block ;
}
.x_instText
{
background: #f1f1f1 url("../images/icons/asterisk_yellow_small.png") no-repeat 10px center;
font-style: italic;
border: 1px dotted #d1cdcd;
font-size: .9em;
 margin: 10px 0px;
padding: 10px 10px 8px 23px;
 float: left;
clear: both;
}
.x_MarginLeft5
{
margin-left: 5px;
}

.x_Secondheader {
    color: #006699;
        border-bottom: 1px solid #069;
        background: linear-gradient(to bottom, #FFFFFF 0%,#A6C9DB 100%);
            margin-left: 10px;
    font-size: 14px;
    font-weight: 700;
    margin: 10px 25px 10px 0px;
    min-height: 25px;
    padding-left: 5px;
    padding-top: 10px;
    overflow: hidden;
        width: 100%;
            display: block;
}
.x_pageInst
{
    margin: 0px 0px 10px 10px;
 	display:block;
}

.x_VerticalAlignTop2
{
	vertical-align:top;
}



.x_current\00002dinvoice
{

}



.x_next\00002dinvoice
{

}



.x_invoice\00002damt
{

}
.x_InputWidth150
{
width:150px ;
}


