﻿#requiredTxt {
	margin: 0 0 10px;
	padding: 0;
	font-style: italic;
}

#requiredTxt .ast {
	color: #FF0000;
	font-size: 1.5em;
}

/* don't show required indicators on fields within containers where Read-Only Content = true */
.isReadOnlyContent .required {
	display: none;
}

/* ############################### */
/* Custom New Quote Styles (Extended) */
/* ############################### */


/* ############################### */
/* Custom Create New Account Styles */
/* ############################### */
.CreateNewBillAccount #diary, .AccountPlanSetup #diary, .PolicyPlanSetup #diary, .RenewalPlanSetup #diary, .CreateNewBillAccount .x_BillAccountPartyDescription {
	display: none;
}

.CreateNewBillAccount LI { /*This is a temp fix to get rit of the diary div that is writing out a dot at the top of the page*/
	list-style-type: none;
}

.AddParty .groupAction {
	margin: 0px 0px 0px 0px;
	clear: both;
}

	.AddParty .groupAction li {
		padding: 0px 0px 0px 12px;
		margin-right: 10px;
	}

		.AddParty .groupAction li a {
			background: none;
			padding: 6px 18px 6px 6px;
			color: #64a055;
			text-decoration: underline;
		}


/*Start Create New Bill Account Styles */
.CreateNewBillAccount #diary, .AccountPlanSetup #diary, .PolicyPlanSetup #diary, .RenewalPlanSetup #diary, .CreateNewBillAccount .x_BillAccountPartyDescription{
	display: none;
}

#t_4_1_tableDivId H2 {
	display: none;
}

#t_4_1_tableDivId table {
	width: 100%;
}

	#t_4_1_tableDivId table td {
		padding-left: 0px;
	}

/* Interview Page targeted styles */
.formTable TD, .formTable TH {
	/* padding: 0px 0px 0px 5px; */
	text-align: left;
}

	.formTable TD.x_TextAlignCenter, .formTable TH.x_TextAlignCenter {
		text-align: center;
	}

		.formTable TD.x_TextAlignCenter > div, .formTable TH.x_TextAlignCenter > div {
			width: 100%;
		}

	.formTable TD.x_TextAlignRight, .formTable TH.x_TextAlignRight {
		text-align: right;
	}

		.formTable TD.x_TextAlignRight > div, .formTable TH.x_TextAlignRight > div {
			width: 100%;
		}

	.formTable TD.x_AlignCenter, .formTable TH.x_AlignCenter {
		text-align: center;
	}

		.formTable TD.x_AlignCenter > div, .formTable TH.x_AlignCenter > div {
			width: 100%;
		}

	.formTable TD.x_AlignRight, .formTable TH.x_AlignRight {
		text-align: right;
	}

		.formTable TD.x_AlignRight > div, .formTable TH.x_AlignRight > div {
			width: 100%;
		}


/* TRANSACT Page Styles */
.TransACT TABLE .mainBody, .TransACT .mainBody TR, .TransACT .mainBody TD {
	padding: 1px;
	margin: 1px;
}

.TransACT .thinBorder TR, .TransACT .thinBorder TD {
	padding: 2px;
	margin: 1px;
}


/* Start select billing account options */
/* ############################### */
/* Custom Billing Plan Styles */
/* ############################### */
.AccountPlanSetup .x_i9 {
	margin-top: 30px;
}

.AccountPlanSetup LI { /*This is a temp fix to get rit of the diary div that is writing out a dot at the top of the page*/
	list-style-type: none;
}

.AccountPlanSetup .downBeforeFormLabel {
	text-align: left;
	font-weight: bold;
}

.AccountPlanSetup .x_i10 .action li a {
	color: #525552;
}

/* ############################### */
/* Custom Policy Plan Setup Styles */
/* ############################### */
.PolicyPlanSetup .x_Section10 .groupAction {
	clear: both;
}

.PolicyPlanSetup LI { /*This is a temp fix to get rit of the diary div that is writing out a dot at the top of the page*/
	list-style-type: none;
}

.PolicyPlanSetup .downBeforeFormLabel {
	text-align: left;
	width: 218px;
}

.PolicyPlanSetup .x_i7 {
	clear: left;
}

.PolicyPlanSetup .x_i16 {
	clear: both;
}

.PolicyPlanSetup .x_i10 .action li a {
	color: #525552;
}

.PolicyPlanSetup .x_Section10 .groupAction li {
	padding: 0px 0px 0px 12px;
	margin-right: 10px;
}

	.PolicyPlanSetup .x_Section10 .groupAction li a {
		background: none;
		padding: 6px 18px 6px 6px;
		color: #64a055;
		text-decoration: underline;
	}

.PolicyPlanSetup .x_navDelete {
	margin-top: -10px;
}

/* ############################### */
/* Custom Renewal Plan Setup Styles */
/* ############################### */
.RenewalPlanSetup .x_Section10 .groupAction {
	clear: both;
}

.RenewalPlanSetup LI { /*This is a temp fix to get rit of the diary div that is writing out a dot at the top of the page*/
	list-style-type: none;
}

.RenewalPlanSetup .downBeforeFormLabel {
	text-align: left;
	width: 218px;
}

.RenewalPlanSetup .x_i7 {
	clear: left;
}

.RenewalPlanSetup .x_i16 {
	clear: both;
}

.RenewalPlanSetup .x_i10 .action li a {
	color: #525552;
}

.RenewalPlanSetup .x_Section10 .groupAction li {
	padding: 0px 0px 0px 12px;
	margin-right: 10px;
}

	.RenewalPlanSetup .x_Section10 .groupAction li a {
		background: none;
		padding: 6px 18px 6px 6px;
		color: #64a055;
		text-decoration: underline;
	}

.RenewalPlanSetup .x_navDelete {
	margin-top: -10px;
}


/* ############################### */
/* Custom Party Styles	*/
/* ############################### */

/* Hide left panel on main search page */
.Search #leftPanelArea {
	display: none;
}

.AddParty .radioGroup input {
	width: auto;
}

.AddParty .acrossLayout .acrossFieldGroup { /* Remove some spacing from the field groups*/
	margin-top: 0px;
	margin-bottom: 0px;
}

.AddParty #information { /* Hide for the add party section*/
	display: none;
}

.AddParty .x_navDelete {
	width: 130px;
	float: left;
	margin: 4px 0px 0px 0px;
}

.AddParty .x_txtPartyName .controlContainer,
.AddParty .x_txtPartyName .x-form-text-wrap,
.AddParty .x_txtCorrespondenceName .controlContainer,
.AddParty .x_txtCorrespondenceName .x-form-text-wrap,
.AddParty .x_txtContactPerson .controlContainer,
.AddParty .x_txtContactPerson .x-form-text-wrap,
.AddParty .x_txtAddr1 .controlContainer,
.AddParty .x_txtAddr1 .x-form-text-wrap,
.AddParty .x_txtAddr2 .controlContainer,
.AddParty .x_txtAddr2 .x-form-text-wrap
{
	width: 325px;
}

.AddParty .x_txtPostalCode .controlContainer,
.AddParty .x_txtPostalCode .x-form-text-wrap,
.AddParty .x_County .controlContainer,
.AddParty .x_County .x-form-text-wrap{
	width: 100px;
}

/* Party Tools */
.partyGroupIndicator {
	border: solid 2px #71C139;
}

#partyTools {
	position: absolute;
	margin: auto;
	padding: auto;
	background: #f0f3f3;
}

	#partyTools.toolsAbove {
		border-bottom: none;
	}

	#partyTools.toolsRight {
		border-left: none;
	}

#partyButtonWrapper {
	border: solid 2px #f0f3f3;
}

/* Single Page Interviews - this class will be active when only 1 page is enabled in a pageset) */
#pageNav.onePageOnly {
	display: none;
}

#pageNav li a.x_LHPVehicleLink {
	float: none;
}

.innerrightpanel {
	width: 240px !important;
	height: 100%;
	float: left;
	padding: 0 0px 10px 5px;
	position: relative;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.outerleftpanel {
	clear: both;
}

	.outerleftpanel .innerleftpanel {
	}

.innerleftpanel {
}

.fieldCaptionIcon {
	float: left;
	margin-right: 3px;
}

.labelWithIcon {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	margin-top: -1px;
	min-height: 16px;
}

	.labelWithIcon > a {
		display: block;
		float: left;
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
		min-height: 16px;
	}

		.labelWithIcon > a > img, .labelWithIcon > img {
			float: none;
			margin-bottom: -4px;
		}

div#interviewList {
	width: 100%;
	margin-right: 0px;
}

.interviewGrid {
	width: 100%;
	margin-right: 0px;
}


/* Styles for login page after timeout */
#Logon {
	float: left;
	margin-top: 10px;
	width: 400px;
	height: 180px;
	font-weight: bold;
}

#logonFields {
	margin: 65px 0px 0px 30px;
}

.logonTextFieldGroup {
	padding-bottom: 5px;
	float: left;
}

	.logonTextFieldGroup label {
		display: block;
		float: left;
		width: 80px;
	}

#username, #password {
	width: 120px;
}

#rememberGroup {
	padding-left: 80px;
	float: left;
}

#logonFields .g-btn {
	padding-top: 10px;
	float: left;
	clear: left;
}

#NewAgentsInformation {
	display: none;
}

#pageAdditionalActions {
	float: left;
}

#resetPrintJobDetaulsA {
	float: left;
}

/* ############################ */
/* Billing Interview grid fixes */
/* ############################ */
.SuspenseAllocation .interviewGrid,
.PaymentDetails .interviewGrid {
    float: none;
    padding: 0;
    margin:0;
    max-width: 710px;
    
}
.SuspenseAllocation .interviewGrid .x-grid-item,
.PaymentDetails .interviewGrid .x-grid-item{
    font: normal 10px/13px tahoma, arial, verdana, sans-serif;
}
.SuspenseAllocation .interviewGrid .x-column-header,
.PaymentDetails .interviewGrid .x-column-header {
    font: normal 10px/13px tahoma, arial, verdana, sans-serif;
}

.Work .formTable .x-form-display-field {
    font: normal 10px/13px verdana,arial,helvetica,sans-serif;
}

.PartySummary .acrossFieldGroup .acrossBeforeFormLabel{
	border-bottom: none;
}

.PartySummary .acrossBeforeFormLabel>label, 
.PartySummary .acrossBeforeFormLabelNoField>label{
	font-weight: normal;
	font-size: inherit;
	color: inherit;
	line-height: 18px;
}
.PartySummary .g-hyperlink > a{
	margin: 0;
	padding: 0;
}