#associtationgroup,
#banner,
#footer,
#pageTop,
.dct_login .contentAreaBottom,
.dct_login .cornerBottomLeftWhite,
.dct_login .cornerBottomRightWhite {
	display: none;
}

.dct_login #wrapper {
	width: 1119px;
	height: 845px;
	margin: 20px auto;
	position: relative;
}

.dct_login #formContent {
	padding: 0px;
	background-image: none;
	height: 640px;
}

.dct_login #main {
	border-radius: none;
	border: none;
	box-shadow: none;
	background: transparent;
	-webkit-box-shadow: none;
	border: none;
	left: 260px;
	top: 230px;
	width: 600px;
	height: 300px;
}

#Logon {
	position: absolute;
	top: 100px;
	left: 130px;
	width: 400px;
	font-weight: bold;
}


.logonTextFieldGroup {
	clear: left;
	padding-bottom: 5px;
	float: left;
}

.logonTextFieldGroup label {
	float: left;
	line-height: 22px;
}

.logonTextFieldGroup .controlContainer {
	clear: left;
}


#rememberGroup {
	padding-left: 0px;
	float: left;
}

#rememberCheckBoxGroupGrp, 
#rememberCheckBoxGroupGrp div {
	width: 330px;
	overflow: visible;
}

#RememberMePrivacyNotice {
	color: red;
	position: absolute;
	top: 15px;
	left: 14px;
}

#logonFields .g-btn {
	margin: 0 0 0 80px;
	float: left;
}

#NewAgentsInformation {
	position: relative;
	top: 104px;
	left: 81px;
}

#NewAgentsInformation a {
	display: block;
	padding-top: 5px;
	font-weight: normal;
	color: #000;
}

#NewAgentsInformation a:hover {
	color: #0000BB;
}

.boldText {
	font-weight: bold;
}

#loginLanguageComboContainer {
	float: right;
	width: auto;
}

#RememberMePrivacyNotice {
	top: 20px;
}
