#requiredTxt .required {
	padding-left: 0;
	padding-right: 5px;
}

.radioGroupContainer {
	margin-bottom: 10px;
}

#newMessageFields > div {
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	float: left;
	display: block;
}

#newMessageFields > div > div:first-child {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	float: left;
	display: block;
}

#newMessageFields label {
	padding-left: 0;
	padding-bottom: 3px;
	float: left;
}

#messageActions {
	padding-left: 10px;
}
