
#agencyLabel{
	float:left;
	padding-right: 5px;
}
#producerLabel{
	float:left;
	padding-right: 5px;
}
#producerField{
	float:left;
	width: 60%;
	padding-left: 10px;
}
#agencyProducerFilterOptionsSection{float:left;}
#agencyProducerFilterOptionsSection SELECT{
	margin: 10px;
}
#agencyField {float:left; padding-right:10px;}
#producerNameField {float:left;}

#agencyIDField{
	margin-top: 10px;
	padding-top: 10px;
}
#newList{
	float:left;
	padding-top: 5px;
	width: 100%;
}
#agencyProducerFilterSection{
	padding-top: 10px;
}
#agencyProducerFilterSection span.required {float:left;padding-right:4px;}
#agencyProducerFilterSection_clear{clear:both;}