﻿#pageInst 
{
	margin:10px 10px;
}
.partyHistoryPolicy 
{
	padding:5px; 
	margin-bottom:5px;
}
.partyHistoryPolicy:hover 
{
	background: #f9f9f9;
}
.policyInfo
{
	
}
.policyTransactionList
{
	padding-left:10px;
}


