#leftPanelArea	{ display: none; }
#main			{ width: 100%; }
#dashboard		{ margin-top: 10px; }
#partyActions	{ padding:10px; }
#notifications	{ padding:10px; }
#taskQueue		{ padding:10px; }
.partyLink		{ margin-left: 9px; }

#partyActionsLabel label	{ float:left; padding-top:5px; }
#partyActionsLinks			{ float:left; padding: 0px 0px 10px 10px; }