/* CSS Document */
#leftPanelArea{display: none;}
#main{width: 100%;}
#reportSelectionDiv {
	float: left;
}
#reportSelectionDiv > table tr {
	height: 30px;
}
#reportHistory > label {
	float: left;
	margin-left: 20px;
	padding-right: 5px;
}
#reportList > label {
	float: left;
	margin-left: 10px;
	padding-right: 4px;
}
#_reportStatus > label {
	float: left;
	margin-left: 5px;
	padding-right: 4px;
}
#_reportAgency > label {
	float: left;
	margin-left: 5px;
	padding-right: 4px;
}
#_reportProduct > label {
	float: left;
	margin-left: 5px;
	padding-right: 4px;
}
#_reportUser > label {
	float: left;
	margin-left: 5px;
	padding-right: 4px;
}
#_reportStartDate > label {
	float: left;
	margin-left: 5px;
	padding-right: 4px;
}
#_reportEndDate > label {
	float: left;
	margin-left: 5px;
	padding-right: 4px;
}
#reportProcessingDate > label {
	float: left;
	margin-left: 5px;
	padding-right: 4px;
}
#reportTaskId > label {
    float: left;
    margin-left: 5px;
    padding-right: 4px;
}
#exportList > label {
	float: left;
	margin-left: 5px;
	padding-right: 6px;
}

#viewReport {
	float: left;
	margin-left: 15px;
	padding-right: 5px;
}
#oReportDiv {
	overflow-y: auto;
	margin-top: 10px;
	width: 100%;
    height: auto !important;
}
#oReportDiv>div {
    height: auto !important;
}





