#selectAgency{
	width:100% !important;
}
#agencyFilterBuilder{
	width:100% !important;
}
#agencyGlobalFilter{
	width:100%;
}
#agencyTypeLabel{
	float:left;
	clear:both;
	margin-right: 5px;
}
#agencyTypeItems{
	width:100%;
}
#adminMoreOptionsPanel{
	float:left;
	clear:left;
	width: 100%;
}