#main > .downLayout > .controlContainer {
	display: none;
}

.downFormLabel {
	line-height: 22px;
	border-bottom: 1px dotted #d3d2d2;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
    color: #666666;
    font-size: 9px;
    font-weight: 600;
    margin-right: 5px;
    padding: 0 0 2px;
}

.x-form-text-default.x-form-textarea {
	min-height: 28px;
	overflow: auto;
}

.editIcon:before {
	padding: 5px;
}

.td-startingDate {
	padding-left: 10px;
}

.x-autocontainer-innerCt td {
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.x-autocontainer-innerCt td > .x-field {
	margin-bottom: 0;
}

.x-autocontainer-innerCt td > label {
	padding-bottom: 0;
}

#adminSearchFilterForCaption {
	width: 5px;
}

#adminMoreOptions .downFormField {
	width: 20%;
	max-width: 140px;
}
