#main > .contentSubHeader {
	width: calc(100% - 20px);
	margin-left: 10px;
}

.basicOptionGroup {
	width: 100%;
	overflow: hidden;
}

.basicOptionGroup select {
	float: left;
}

#unassignedMoreOptions > .g-btn, 
#assignedMoreOptions > .g-btn {
	margin-top: 18px;
	padding-right: 0;
}

#assignedMoreOptionsToggle, 
#unassignedMoreOptionsToggle {
	padding-left: 20px;
}

#unassignedFilter {
	margin-left: 10px;
}

#unassignedQueueEntityId {
	margin-right: 10px;
}