@import url('x_interview.css');

.x_actionLinks .acrossLayout {
	float:left;
	margin-bottom: 3px;
	width: 100%;
}
.x_actionLinks .g-action {
	margin-left: 0px !important;
	display: inline;
}
.x_actionLinks span {
	padding-left: 0px !important;
}
.x_actionLinks .x-form-display-field {
	margin-left: 0px !important;
}
.x_actionLinks .acrossFieldGroup {
	margin-top: 0;
	margin-bottom: 0;
	width: 30%;
	margin-right: 0px !important;
	padding-right: 5px;
}
.x_actionLinks ul.action {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
#commentsToolbar .controlContainer, 
#taskQueueToolbar .controlContainer 
{
	float:none;
	padding-bottom:5px;
}
