/* Theme-specific custom button definitions */

/* Usage

	Below is an example button definition template. If this template were not surrounded by comments, 
	a user could use this button by setting the Button Type action parameter to "myButton" in Author.

	A pre-sliced PSD template for creating buttons can be found in Skins\AvantGarde2\Photoshop Source\globalButton.psd.
	Once modified, the resulting slice should be saved as g-btn-slice.png in the Skins\AvantGarde2\images folder.

	Using the following template, update the background-position values for each portion of the button (g-btn-l, g-btn-m, g-btn-r) 
	to correspond with the position of each part of your custom button (left, middle, right) in g-btn-slice.png. 

	Button text color may be modified using .g-btn-text. If necessary, the icon position can be adjusted by 
	adding padding to .g-btn-img-left and .g-btn-img-right.


.g-myButton .g-btn-text{ color: #ffffff;}					

*/