/* Theme-specific custom container definitions */

/* Usage

	Below is an example container definition template.  Each container will typically have a block of
	code defining it similar to the code block below.  This container's example image parts can be found
	in ../images/cc/CustomExample.
	
	If the below theme was not surrounded by comments, a user could use this container by setting
	the Custom Container section parameter to "CustomExample" in Author.  
	
	A pre-sliced PSD template can be found in Skins\AvantGarde2\Photoshop Source.  By default
	it will output the standard files (cc-tl, cc-tr, etc).  
	
	For more examples of custom containers, check out the main custom container definitions in 
	AvantGarde2/css/customContainers.css.
	
.cc_CustomExample > .cc-bubble-tl {background: transparent url(../images/cc/CustomExample/cc-tl.png) no-repeat left top;}
.cc_CustomExample > div > .cc-bubble-tr {background: transparent url(../images/cc/CustomExample/cc-tr.png) no-repeat right top;}
.cc_CustomExample > div > div > .cc-bubble-tc {background: transparent url(../images/cc/CustomExample/cc-t.png) repeat-x 0 top; height:15px;}
.cc_CustomExample > div > div > div > .cc-bubble-title {padding-top:0px;padding-bottom:12px;}
.cc_CustomExample > div > div > div > .cc-bubble-title > span {font-weight:bold;}
.cc_CustomExample > .cc-bubble-bwrap {background: transparent;}
.cc_CustomExample > div > .cc-bubble-ml {background: transparent url(../images/cc/CustomExample/cc-l.png) repeat-y 0 0;}
.cc_CustomExample > div > .cc-bubble-ml {padding-left:10px;zoom:1;}
.cc_CustomExample > div > div > .cc-bubble-mr {background: transparent url(../images/cc/CustomExample/cc-r.png) repeat-y right 0;}
.cc_CustomExample > div > div > .cc-bubble-mr {padding-right:10px;zoom:1;}
.cc_CustomExample > div > div > div > .cc-bubble-mc {background: #fff;}
.cc_CustomExample > div > div > div > div > .cc-bubble-body {background: transparent;}
.cc_CustomExample > div > .cc-bubble-bl {background: transparent url(../images/cc/CustomExample/cc-bl.png) no-repeat 0 bottom;}
.cc_CustomExample > div > div > .cc-bubble-br {background: transparent url(../images/cc/CustomExample/cc-br.png) no-repeat right bottom;}
.cc_CustomExample > div > div > div > .cc-bubble-bc {background: transparent url(../images/cc/CustomExample/cc-b.png) repeat-x 0 bottom;}

*/
