.dct_bilact.CreateNewBillAccount_body #main {
	width: 100%;
}

#supportIcons { /* Supporting icon navigation */
	position: absolute;
    top: 0;
	margin: 0;
}

#supportIcons .g-btn a {
	float: right;
}

#currentSystemDate {
	font-style: italic;
}

#balanceChartId {
	float: left;
}

#agencyChangeReceivableContact {
	margin: 7px 3px 5px 7px;
}

#agencyReceivableContactId, 
#agencyReceivableContactMainPhone, 
#agencyReceivableContactFaxPhone, 
#agencyReceivableContactEmailAgency {
	margin: 2px 3px 2px 10px;
}

#accountInformationArea, 
#policyInformationArea {
	width: 100%;
	clear: both;
	margin-left: auto;
	margin-right: auto;
}

.billingContact {
	padding: 3px 0px 5px 0px;
}

.billingContactName, 
.billingContactAddress, 
.billingContactCityStateZip, 
.billingContactPhone, 
.billingChangeRole, 
.billingContactEmail {
	padding: 2px 0px 2px 0px;
}

.scheduleHistoryEventLink {
	margin-left: 10px;
	margin-bottom: 5px;
}

.billingActivityList {
	clear: both;
}

#messageNote {
	width: 524px;
	height: 23px;
	font-size: .9em;
	font-style: italic;
	padding: 11px 0px 0px 30px;
	margin: 15px 0px 5px 0px;
}

#displayTotalAmount, 
#displayTotalTextId, 
#displayTotalRemAmount, 
#displayTotalRemainingTextId {
	float: left;
	margin-right: 5px;
}

#displayTotalRemainingTextId {
	padding-right: 15px;
}

.instText {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: relative;
	margin-left: 0px;
	width: 100%;
	margin-bottom: 10px;
	padding: 10px 10px 10px 40px;
	float: left;
	border: 1px dotted #d7d7d7;
	font-style: italic;
	font-size: .9em;
	line-height: 20px;
	background: #f1f1f1;
}

.instText:before {
	font-family: aswIcons;
	font-weight: bold;
	font-style: normal;
	color: #057aba;
	font-size: 20px;
	content: "\f05a";
	position: absolute;
	top: 10px;
	left: 10px;
}

#main > .instText {
	width: calc(100% - 20px);
	margin-left: 10px;
	padding: 10px 10px 10px 40px;
}

#accountPolicyNameGroup {
	padding-top: 0px;
}

#paymentOptionsRadioGroup,
#paymentOptionsAccount,
#paymentOptionsRadiobuttonsCmp {
	float: left;
	width: 100%;
}

.radioGroupContainer {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

#paymentOptionsUnidentified {
	float: left;
	clear: left;
}

#transferPolicy {
	margin-top: 10px;
	margin-bottom: 10px;
}

#vieweditPolicyTermSettings {
	margin-top: 10px;
	margin-bottom: 10px;
}

#updateRenewalInformation {
	margin-top: 10px;
	margin-bottom: 10px;
}

#holdBillingPolicyTerm {
	margin-top: 10px;
	margin-bottom: 10px;
}

#rescindPolicy {
	margin-top: 10px;
	margin-bottom: 10px;
}

#updateReference {
	clear: left;
}

/* Search payment field placement */
#paymentSearchTbl {
	width: calc(100% - 20px);
	margin: 0 0 10px 10px;
}

#paymentSearchTbl td {
	padding: 0 0 0 5px;
	vertical-align: top;
}

#paymentSearchTbl .paymentSearchTblRow > td:first-child > div {
	line-height: 22px;
	border-bottom: 1px dotted #d3d2d2;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color: #666666;
	font-size: 9px;
	font-weight: 600;
}

#paymentSearchTbl .paymentSearchTblRow > td:last-child {
	padding-bottom: 5px;
}

#startDt {
	float: left;
	width: 155px;
}

#dateRangeTo {
	float: left;
	width: 30px;
}

#endDt {
	float: left;
	width: 20%;
}

#startAmt {
	float: left;
	width: 155px;
}

#amtRangeTo {
	float: left;
	width: 30px;
}

#endAmt {
	float: left;
	width: 20%;
}

#exactDt {
	float: left;
	clear: both;
}

#dateRangeFieldGroup {
	float: left;
	clear: both;
}

#exactAmt {
	float: left;
	clear: both;
}

#amtRangeFieldGroup {
	float: left;
	clear: both;
}

/* Agency bill items */
.billingAgencyDetailsReference, 
.billingAgencyDetailsAddress, 
.billingAgencyDetailsCityStateZip, 
.billingAgencyDetailsPhone {
	width: 128px;
	padding: 2px 0px 2px 5px;
}

#scheduledItemsList, 
#openItemsList, 
#closedMatchesList {
	clear: left;
}

#openItemDateLabel {
	float: left;
	clear: none;
	width: 200px;
	margin-top: 5px;
}

#openItemsDateField {
	float: left;
	clear: none;
	width: 120px;
}

#filterActionGroup {
	float: left;
	clear: left;
	margin-bottom: 5px;
}

#statementRangeLabel {
	float: left;
	clear: none;
	width: 210px;
	margin-top: 15px;
}

#statementRangeField {
	float: left;
	clear: none;
	width: 200px;
	margin-top: 10px;
}

#agencyReferenceId {
	font-size: 1em;
	margin: 2px 3px 3px 45px;
}

#leftPanelArea #accountInformationArea div.x-title-text {
	width: auto;
}

.ledgerGroupLabel {
	margin-left: 5px;
}

#commentDescription {
	margin-top: 10px;
}

#closedMatchesDateLabel {
	float: left;
	clear: none;
	width: 230px;
	margin-top: 5px;
}

#closedItemMatchesFromDateField {
	float: left;
	clear: none;
	width: 135px;
}

#closedItemMatchThroughLabelId {
	float: left;
	clear: none;
	width: 45px;
	margin-top: 5px;
}

#closedItemMatchesThroughDateField {
	float: left;
	clear: none;
	width: 135px;
}

#backToPolicySummarySection {
	margin-top: 10px;
}

#promiseToPayListGroup {
	margin-top: 10px;
	margin-left: 10px;
}

#displayChartGroup {
	width: 100%;
	margin-bottom: 15px;
}

.displayChartItem {
	float: left;
	clear: none;
	width: 23%;
}

#moreOptionsGroupPanel {
	float: left;
	clear: both;
}

#currentInvoiceGroup {
	float: left;
	clear: both;
}

#currentDueGroup {
	float: left;
	clear: both;
}

#accountBalanceGroup {
	float: left;
	clear: both;
}

#otherAmountGroup {
	float: left;
	clear: both;
}

#refundToCheckGroup {
	float: left;
	clear: both;
}

#refundToEFTGroup {
	float: left;
	clear: both;
}

#suspenseActionButton {
	float: left;
	clear: both;
}

#manuallyAllocateCheckbox {
	float: left;
	clear: both;
	margin-top: 20px;
	margin-bottom: 20px;
}

#paymentAction {
	float: left;
	clear: both;
}

#radioOptionOutput {
	float: left;
	width: 100%;
}

#accountPolicyReferenceId {
	float: left;
	clear: left;
	padding-top: 10px;
}

#selectAnotherAccount {
	margin: 10px 0px;
}

#placeOnHoldGroup {
	float: left;
	clear: left;
}

#writeOffSuspenseActionId {
	float: left;
	margin-bottom: 5px;
}

#writeOffButtons {
	padding: 10px 0;
}

#reversalOfWriteOffWaiveActionButtons {
	clear: left;
}

#resumeOptionsRadiobuttons {
	padding-bottom: 20px;
	width: 100%;
}

#billingInstallmentScheduleId {
	float: left;
	width: 100%;
}

#otherAmountInput {
	margin-left: 20px;
	margin-bottom: 10px;
	float: left;
	clear: both;
}

.AccountReceivableAllocation_body .x-grid3-header {
	display: none;
}

.InvoiceReceivableAllocation_body .x-grid3-header {
	display: none;
}

.displayTableTitle td,
.acctSummaryInvoiceTableTitle td,
.agencyStatementSectionsTableTitle td {
	padding: 5px;
	font-weight: bold;
}

.displayTableHdr td,
.acctSummaryInvoiceTableHdr td,
.agencyStatementSectionsTableHdr td {
	padding: 5px;
	font-weight: bold;
	font-size: .8em;
}

.displayTableRow td,
.acctSummaryInvoiceTableRow td,
.agencyStatementSectionsTableRow td {
	padding: 0px 0px 0px 5px;
	height: 18px;
	font-size: .8em;
	vertical-align: middle;
}

.dct_bil .Search #main {
	float: left;
	width: 739px;
	margin-left: 8px;
	width: 739px;
}

.AccountPlanSetup {
	margin-left: 0px;
	padding-left: 8px;
}

/* Billing Dashboard */
#searchBilling {
	float: left;
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#searchModeCmp,
#searchByNbrCmp {
	padding-top: 2.5px;
}

#searchModeCmp {
	padding-right: 10px;
}

#searchForAccountButton img {
	display: none;
}

#searchForAccountButton {
	padding-left: 10px;
	clear: right;
}

#accountPolicyNameGroup #searchForAccountButton {
	padding-left: 0px;
	clear: both;
}

#policyTermExtendedData .displayTableTitle td {
	text-indent: 0;
}

.acctSummaryInvoiceTableTitle td {
	font-weight: bold;
}

.dct_bil .x-panel-header {
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
}

#addNotes {
	position: relative;
	padding-top: 5px;
	float: right;
}

.dct_outstandingBalanceChart #main,
.dct_agencyBalanceChart #main,
.dct_agencyBalanceLineChart #main,
.dct_agencyBalanceBarChart #main,
.dct_agencyBalanceStackedBarChart #main,
.dct_agencyBalanceStackedColumnChart #main {
	width: 100%;
}

.dct_outstandingBalanceChart #pageTitle,
.dct_agencyBalanceChart #pageTitle,
.dct_agencyBalanceLineChart #pageTitle,
.dct_agencyBalanceBarChart #pageTitle,
.dct_agencyBalanceStackedBarChart #pageTitle,
.dct_agencyBalanceStackedColumnChart #pageTitle {
	float: left;
	height: 27px;
	width: 100%;
	margin-left: 2px;
}

#balanceChartId, #displayChartGroup {
	float: left;
	margin-left: 0px;
	padding-left: 8px;
}

.dct_createPayment #main,
.dct_searchForPayment #main,
.dct_unidentifiedPayments #main,
.dct_statementImport #main,
.dct_searchPaymentDetails #main,
.dct_unidentifiedPaymentsDetail #main,
.dct_searchForPaymentResults #main,
.dct_admin #main,
.dct_errors #main,
.dct_report #main {
	width: 100%;
}

div#accountInformationId,
div#policyInformationId {
    padding: 0 !important;
    background: none !important;
}

#agencyChangeReceivableContact,
#agencyReceivableContactId,
#agencyReceivableContactMainPhone,
#agencyReceivableContactFaxPhone,
#agencyReceivableContactEmailAgency {
	font-size: 1em;
}

#accountInformationArea, #policyInformationArea {
	padding-top: 15px;
}

.dct_bil #accountInformationArea .x-panel-header,
.dct_bil #policyInformationArea .x-panel-header{
    border-bottom-width: 1px !important;
}

#accountInformationArea .x-panel-header .x-tool, 
#policyInformationArea .x-panel-header .x-tool {
	border-right: 1px solid;
    text-align: center;
}

#accountInformationArea  .x-tool ,
#policyInformationArea  .x-tool {
	position: static !important;
	width: 22px !important;
    float: left;
}

#accountInformationArea .x-panel-header-title,
#policyInformationArea .x-panel-header-title{
    padding-left: 25px;
}

#accountInformationArea .x-panel-header .x-tool-img ,
#policyInformationArea .x-panel-header .x-tool-img {
	height: 16px;
	line-height: 16px;
	background-image: none;
    display:block !important;
}

#accountInformationArea .x-panel-header .x-tool-collapse-top:before,
#policyInformationArea .x-panel-header .x-tool-collapse-top:before {
	font-family: aswIcons;
	font-size: 16px;
	content: "\f078";
	width: 15px;
}

#accountInformationArea .x-panel-header .x-tool-expand-bottom:before,
#policyInformationArea .x-panel-header .x-tool-expand-bottom:before {
	font-family: aswIcons;
	font-size: 16px;
	content: "\f054";
}

#accountInformationArea .x-panel-body .x-panel-body,
#policyInformationArea .x-panel-body .x-panel-body{
    background-color: #fff;
}

.scheduleHistoryEventTitle {
	font-weight: bold;
}

.scheduledItemsList,
.openItemsList, .closedMatchesList {
	font-size: 90%;
}

#billingOutstandingInvoice,
#billingRecentPayment, 
#billingUpcoming {
	width: 232px;
}

.dct_createDisbursementInterfaceRequest #pageInst {
	padding-top: 0;
	padding-bottom: 10px;
}

.dct_refundToSourcePayment #disbursePayeeName {
	float: left;
	clear: left;
	padding-right: 10px;
	padding-top: 3px;
	margin-bottom: 7px;
}

#reasonForReversal {
	width: 100%;
}

.dct_bil .outerleftpanel {
	width: 100%;
}

#billingRedistributionListId {
	float: none;
}

.dct_bil.dct_accountSummary .notificationDiv {
	margin-bottom: 9px;
	margin-left: 7px;
}
