/* the top and bottom border divs are no longer needed */
.cc-bubble-bl,
.cc-bubble-br,
.cc-bubble-bc {
	display: none;
}

/* core styles for cc-bubble */
[class^="cc-bubble"] {
	width: 100%;
	float: left;
	background: transparent;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.cc-bubble {
	border-radius: 8px;
	border: 1px solid transparent;
	margin-bottom: 10px;
	position: relative;
}

.cc-bubble-title {
	background: transparent;
	color: #069;
	font-size: 13px;
	font-weight: bold;
	padding: 0px 5px 5px;
}

.cc-bubble-body {
	border-radius: 8px;
	border: 1px solid #d7d7d7;
	padding: 10px;
}

.cc-bubble-body > .downLayout > h2:first-of-type {
	margin-top: 0;
}

/*custom containers*/
.cc-bubble.cc_BluePanel {
	background: rgba(0, 102, 153, 0) linear-gradient(rgba(0, 102, 153, 0.2), rgba(0, 102, 153, 0.2)) repeat scroll 0 0;
	box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.27);
	width: calc(100% - 3px);
	padding: 5px;
	border-color: #069;
}

.cc-bubble.cc_LightPanel .cc-bubble-body,
.cc-bubble.cc_MinimalLightGray .cc-bubble-body,
.cc-bubble.cc_MinimalWhite .cc-bubble-body {
	border-color: #d7d7d7;
}

.cc-bubble.cc_MinimalWhite .cc-bubble-body {
	background-color: #fff;
}

.cc-bubble.cc_PlainWhite .cc-bubble-body {
	background-color: #fff;
	border-color: #fff;
}

.cc-bubble.cc_GrayPanel,
.cc-bubble.cc_WhiteRounded {
	box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.27);
	width: calc(100% - 3px);
	background: #f4f4f4;
	padding: 5px;
	border-color: #d7d7d7;
}

.cc-bubble.cc_GrayPanel {
	background-color: #f4f4f4;
}

.cc-bubble.cc_GrayPanel .cc-bubble-body {
	background-color: #fff;
}

.cc-bubble.cc_GrayPanel .cc-bubble-title {
	color: #000;
}

.cc-bubble.cc_BlackBorder .cc-bubble-body {
	border-color: #000;
}

.cc-bubble.cc_WhiteRounded {
	background-color: #fff;
}

.cc-bubble.cc_WhiteRounded .cc-bubble-title {
	padding: 0 10px 5px;
	color: #000;
}

.cc-bubble.cc_WhiteRounded .cc-bubble-body {
	border-radius: 0;
	padding: 5px;
	background-color: #fff;
	border-color: transparent;
}

.cc-bubble.cc_PopoutContainer {
	margin-top: 20px;
}

.cc-bubble.cc_PopoutContainer,
.cc-bubble.cc_PopoutContainerLeft {
	background-color: #fff;
	border-color: #dfdfdf;
}

.cc-bubble.cc_PopoutContainer .cc-bubble-body,
.cc-bubble.cc_PopoutContainerLeft .cc-bubble-body {
	background-color: #fff;
	border-color: transparent;
}

.cc-bubble.cc_PopoutContainer .cc-bubble-title,
.cc-bubble.cc_PopoutContainerLeft .cc-bubble-title {
	color: #000;
}

.cc-bubble.cc_PopoutContainer .cc-bubble-tl:before {
	border-bottom: 20px solid #d7d7d7;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	content: "";
	height: 0;
	left: 20px;
	position: absolute;
	top: -20px;
	width: 0;
}

.cc-bubble.cc_PopoutContainer .cc-bubble-tl:after {
	border-bottom: 20px solid #fff;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	content: "";
	height: 0;
	left: 20px;
	position: absolute;
	top: -19px;
	width: 0;
}

.cc-bubble.cc_PopoutContainerLeft {
	border-color: #dfdfdf;
	width: calc(100% - 15px);
	margin-left: 15px;
}

.cc-bubble.cc_PopoutContainerLeft .cc-bubble-tl:before {
	border-right: 15px solid #d7d7d7;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	content: "";
	height: 0;
	left: -15px;
	position: absolute;
	top: 15px;
	width: 0;
}

.cc-bubble.cc_PopoutContainerLeft .cc-bubble-tl:after {
	border-right: 15px solid #fff;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	content: "";
	height: 0;
	left: -14px;
	position: absolute;
	top: 15px;
	width: 0;
}

.cc-bubble.cc_PopoutContainer .cc-bubble-title,
.cc-bubble.cc_PopoutContainerLeft .cc-bubble-title {
	padding: 5px 10px;
}

.cc-bubble.cc_ErrorPanel {
	background-color: #ffffff;
    border: 3px solid #bf0000;
}

.cc-bubble.cc_ErrorPanel h4 {
	margin: 0;
}

.cc-bubble.cc_ErrorPanel .cc-bubble-title {
    color: #000;
    padding: 0 10px 5px;
}

.cc-bubble.cc_ErrorPanel .cc-bubble-body {
    border-color: transparent;
}