#taskQueue .noItems, 
#notifications .noItems, 
#mruList .noItems, 
#reportList .noItems, 
#accountList .noItems {
	padding-left: 9px;
}

#newQuoteModule .action {
	margin: 10px 0px 0px 20px;
}

/* moduleDisplayTable styles */
#moduleDisplayTable {
	width: 100%;
}

#moduleDisplayTable td {
	padding: 5px;
	word-wrap: break-word;
	background: #fff none repeat scroll 0 0;
	border-color: #fff #d7d7d7 #d7d7d7 #fff;
	border-style: solid;
	border-width: 1px;
}

#moduleDisplayTable a,
#moduleDisplayTable a>span {
	margin: 0;
	padding: 0;
}

#moduleDisplayTable .tblItem .itemIcon {
	width: 16px;
	height: 16px;
}

#moduleDisplayTable img{
	display: none;
}

/* x-form-check-group styles */
.x-form-check-group .x-form-check-wrap, 
.x-form-radio-group .x-form-radio-wrap {
	height: auto;
}

.ext-ie .x-form-check-group .x-form-check-wrap, 
.ext-ie .x-form-radio-group .x-form-radio-wrap {
	height: auto;
}

.x-form-check, .x-form-radio {
	height: 13px;
	width: 13px;
}

.x-tree-hd {
	border-left: 1px solid #eee;
	border-right: 1px solid #d0d0d0;
}

.x-form-file-wrap {
	height: 22px;
}

/* panel content */
#dashboard .x-portlet {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#dashboard .x-panel-default-framed, #dashboard .x-nbr .x-panel-default-framed {
	border-radius: 0px;
	border-width: 0px;
	border-style: none;
	padding: 5px;
	background-color: #fff !important;
}

#dashboard .x-portlet .x-panel-body {
	margin: 0px auto;
	width: 100% !important;
	padding: 0;
	overflow: visible;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#dashboard .x-portlet .x-panel-body > .x-panel {
	background: #FFFFFF;
	position: relative;
	overflow: visible;
	width: 100%;
	padding-bottom: 10px;
}

#dashboard .x-portlet .x-panel-header-title-default-framed > .x-title-icon-wrap-default-framed.x-title-icon-left,
#dashboard .x-portlet .x-nbr .x-panel-header-title-default-framed > .x-title-icon-wrap-default-framed.x-title-icon-left {
	width: 30px;
}

#dashboard .x-portlet .x-panel-header-default-framed-top,
#dashboard .x-portlet .x-nbr .x-panel-header-default-framed-top {
	padding: 0px;
}

#dashboard .x-portlet .x-panel-header-title-default-framed > .x-title-text-default-framed,
#dashboard .x-portlet .x-nbr .x-panel-header-title-default-framed > .x-title-text-default-framed {
	padding-left: 5px;
	padding-top: 1px;
}

#dashboard .x-portlet .x-panel-header {
	height: 27px;
}

#dashboard .x-portlet .x-panel-header .x-tool, 
#dashboard .x-portlet .x-panel-header .x-panel-header-title-default-framed {
	padding: 0px;
}

.x-portlet table {
	overflow: visible;
	border-collapse: collapse;
}

.x-portlet table td {
	word-wrap: break-word;
	word-break: break-all;
}

.x-portlet table td.clientName {
	word-wrap: normal;
	word-break: normal;
}

#dashboard .x-portlet .x-panel-body td.itemIconEmpty {
	display: none;
}

/* portlet toggle */

#dashboard .x-portlet .x-tool {
	position: absolute;
	width: 22px;
	left: 8px !important;
	border-right: 1px solid #fff;
}

#dashboard .x-panel-header .x-tool-img {
	height: 27px;
	line-height: 27px;
	background-image: none;
}

#dashboard .x-panel-header .x-tool-collapse-top:before {
	font-family: aswIcons;
	font-size: 16px;
	color: #ffffff;
	content: "\f078";
	width: 15px;
}

#dashboard .x-panel-header .x-tool-expand-bottom:before {
	font-family: aswIcons;
	font-size: 16px;
	color: #ffffff;
	content: "\f054";
}

#newQuote #fields input {
	width: 145px !important;
	margin-left: 0px;
}

#newQuoteModule .downFieldGroup .downBeforeFormLabel {
	width: 100px;
}

#newQuoteModule .downFieldGroup .downBeforeFormLabel + .downFormField {
    width: calc(100% - 100px);
}