 
/*******************************
* ExtJs Class Extension Styles 
********************************/
 
/* Temporary Patch for Bug ??? */
.x-menu-list-item-indent .x-menu-item-icon {
	position: relative;
	top: 3px;
	left: 3px;
	margin-right: 10px;
}
li.x-menu-list-item-indent {
	padding-left: 0px;
}
li.x-menu-list-item div {
	display: block;
}
.grid-checkbox-editor .x-form-check-wrap {
	text-align: center;
}

.booleanInterviewColumnRender-outer{
	width: 100%; 
	text-align: center;
}
.sliderComparison {
	padding-bottom: 5px;
}
.sliderRange {}
.sliderRangeTicks {
	position: relative;
	left: 0;
	top: 1px;
	padding-bottom: 25px;
}
.sliderTick {
	position: absolute;
	text-align: center;
	padding-top: 8px;
	vertical-align: bottom;
	white-space: normal;
}
.overflowVisible {
	overflow: visible !important;
}
.x-form-file-label-wrap  {
	position: absolute;
	top: 40px;
	left: 30px;
}
.x-form-file-ie-label {
	position: absolute;
	filter: alpha(opacity=0);
	opacity: 0;
	z-index: 4;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: white;
}
.dropArea.file-hover {
	border-color: #006699;
}
.dropArea .x-form-file {
	height:0px;
	width:0px;
}
.dropArea .x-form-file-label .droparea-instructions{
	margin: 0 auto;
	width: 280px;
	margin-top: 30px;
	color: #ACCCDE;
}
.dropArea .x-form-file-label .droparea-instructions .droparea-file-location{
	font-size: 2em;
	font-weight: bold;
}
.dropArea .x-form-file-label .droparea-instructions .droparea-click-location{
	width: 100px;
	margin: 0 auto;
	margin-left: 80px;
}
.dropArea {
	width:auto;
	position: relative;
	height: 100px !important;
	border: 4px dashed #ACCCDE;
	z-index: 3;
}
.italic-text {
	font-style: italic;  
}
