p .documentationTitle {
	line-height: 24px;
	font-size: 18px;
}

.iWinSection {
	margin-bottom: 10px;
}

.iWinGroup {
	width: 100%;
	overflow: hidden;
	padding: 4px 0px;
	border-bottom: 1px dotted #DADADA;
}

.i-paramName {
	float: left;
	clear: left;
	width: 150px;
	font-weight: bold;
}

.i-paramVal {
	float: left;
	width: 350px;
	color: #000000;
}

.iWinRightSection .i-paramName {
	width: 100px;
}

.iWinRightSection .i-paramVal {
	width: 150px;
}

.cutoffSection {
	margin-bottom: 10px;
}

.cutoffGroup {
	overflow: hidden;
	padding: 4px 0px;
	width: 100%;
	border-bottom: 1px dotted #DADADA;
}

.cutoff-paramName {
	float: left;
	clear: left;
	width: 100px;
	font-weight: bold;
}

.cutoff-paramVal {
	width: 150px;
	float: left;
	color: #000000;
}

.OFlowIndicators {
	width: 16px;
	height: 16px;
	cursor: pointer;
	display: hidden;
	position: absolute;
	background: transparent url('../images/icons/exclamation.png') no-repeat left top;
}

.OFlowContent {
	position: absolute;
	display: hidden;
	background: transparent url('../images/cutoffOverlayYellorange.png') repeat left top;
}

.OFlowCutoff {
	position: absolute;
	display: hidden;
	background: transparent url('../images/cutoffOverlayRed.png') repeat left top;
}

#DCTDeveloperToolbarContainer {
	height: 26px;
}

#documentationWindow .x-tree-node-leaf .x-tree-node-icon {
	background-image: url(../images/icons/bullet_green.png);
}

.ext-gecko #dctDeveloperToolbar {
	float: left;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
}

#addTaskPanel .x-panel-btns .x-toolbar-cell {
	padding: 2px 3px 0px 3px;
}

#addTaskPanel .x-panel-footer {
	padding: 2px;
	overflow: visible;
}

#addTaskFly .x-form {
	padding-top: 2px !important;
	padding-bottom: 2px !important;
}

.tb-button-left{
	left: 0px !important;
}
