.fieldValidationsExpandIcon:before{
    content: "\f087";
    font-size: 18px;
    color: white;
}

.fieldValidationsExpandIcon{
    margin: 2 3 0 2;
    background: #006699;
    border-radius: 3px;
    padding: 3 0 0 3;
    width: 20px;
    height: 20px;
}

#validationLogHeader_header {
    width: 236px;
	left: 5px;
}

.validationTitleText{
    font-size: 12px;
    color: white;
    background: #006699;
	border: 0;
	margin-left: 5px;
    padding: 5;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    float: left;
    font-weight: bold;
	cursor: default;
	right: 5;
}

#validationLogWindow {
	background: transparent;
    border: none;
    box-shadow: none;
	border: 0;
	border-bottom: 1;
	border-radius: 5px;
}
#validationTitleText-body{
    background: transparent;
    border: none;
    box-shadow: none;
}

#validationLogWindow-body {
    background-color: #F2F7FA;
}