#footer {
	width: 100%;
	min-height: 50px;
	overflow: hidden;
}

#footer_one {
	width: 100%;
	display: inline-block;
}

#footer_one ul {
	display: block;
	float: left;
	padding-left: 0;
}

#footer_one ul li {
	display: block;
	float: left;
	clear: both;
	margin: 1px 0px;
}

#footer_one ul li a {
	text-decoration: none;
}

#footer_one ul li a img {
	float: left;
	margin-right: 6px;
	cursor: pointer;
}

#footer_one ul li a span {
	display: block;
	float: left;
	cursor: pointer;
	text-decoration: none;
}

#footer_one ul li:hover a span {
	text-decoration: underline;
}

#footer_one a:link, 
#footer_one a:visited, 
#footer_one a:active {
	color: #4065af;
}

#footer_one ul li:hover a span {
	color: #FFFFFF;
	text-decoration: underline;
}

#footer_one ul li a span {
	color: #FFFFFF;
}

#footer_one #fLogOut {
	display: none;
}

#footer .languageComboCaptionContainer {
	float: left;
	height: 22px;
	line-height: 22px;
	padding: 0;
	padding-right: 5px;
	width: 215px;
	right: auto;
}

.contentAreaBottom {
	background: inherit;
	height: auto;
}

#footer {
	min-height: 90px;
}

.pageFooter p {
	margin-bottom: 15px;
}

.pageFooter .clear_bottomLeft {
	width: 50%;
	clear: right;
}
.pageFooter .clear_bottomRight{
	margin-top: -5px;
	padding-top: -15px;
	width: 50%;
	text-align: right;
	color: white;
	font-size: 12px;
	float: right;
	position: relative;
	bottom: 9px;
}