/*********************************************************************************
* displayTbl styles
*********************************************************************************/
.displayTbl {
	width: 100%;
	border: 1px solid #525552;
}

.displayTblTitle {
	padding: 6px 0px 6px 6px;
	clear: both;
	background: #484843;
	font-size: .9em;
	font-weight: bolder;
	color: #ffffff;
}

.displayTblHdr td {
	background: #e3e1e1;
	font-weight: bold;
	font-size: .9em;
	padding: 5px;
}

.displayTblRow td {
	padding: 5px;
	background: #f4f4f4;
	height: 13px;
	font-size: .9em;
}

.displayTblFooter {
	min-height: 12px;
	padding: 6px;
	text-align: left;
	margin: 0px 0px 10px 0px;
	color: #ffffff;
	background: #484843;
	font-size: .9em;
	border: 1px solid #484843;
	border-top: 0px;
}

/*********************************************************************************
* formTbl styles
*********************************************************************************/
/*Standard form element table styles*/
.formTbl {
	margin: 10px 0px 0px 0px;
	width: 100%;
	border: 0px;
}

.formTbl td {
	padding-bottom: 10px;
	padding-left: 3px;
}

.formTbl .detailsLabel {
	font-weight: bold;
	padding-left: 5px;
}


/*********************************************************************************
* formTable styles
*********************************************************************************/
.formTable {
	width: 100%;
	clear: both;
}

.formTable > th {
	padding: 2px 5px 2px 0px;
}

.formTable > tr > td {
	padding: 2px;
}

.formTable .thEmpty {
	padding: 0;
	margin: 0;
	width: 0;
}

/*********************************************************************************
* formTable within a *Layout styles
*********************************************************************************/
.acrossLayout > .formTable,
.acrossLayout > .interviewGrid,
.downLayout > .formTable,
.downLayout > .g-groupAction {
	margin-bottom: 10px;
}

.acrossLayout > .formTable .formTable,
.downLayout > .formTable .formTable,
.downLayout > .g-groupAction > .g-btn a,
.x_BorderLightGray > .formTable {
	margin-bottom: 0;
}



/*********************************************************************************
* grid styles
*********************************************************************************/
.pagingGrid {
	clear: left;
}

.tblHeader th {
	color: #FFFFFF;
	background-color: #069;
	border: 1px solid #FFFFFF;
	padding: 3px 7px;
}

/* remove images that do not belong due to style standard */
#messageActions {
	clear: both;
}
