/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~ FormLayout styles
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.defaultXHTML {
	margin-bottom: 10px;
}

/*********************************************************************************
* acrossLayout styles
*********************************************************************************/
.acrossLayout > .x-form-element,
.downLayout > .x-form-element {
	padding-left: 0px;
	position: relative;
}

.acrossLayout {
	overflow: hidden;
	padding: 0 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.dct_policy .acrossLayout {
	min-height: 28px;
}

.acrossLayout > div {
	float: left;
	padding-right: 10px;
}

.acrossLayout > div.acrossLayout {
	min-height: 0;
	padding: 0px 0px;
}

.acrossLayout > div.downLayout {
	padding-right: 0;
}

.acrossLayout > .x_BorderLightGray {
	padding-right: 10px;
	margin-bottom: 10px;
}

.Household_body .cc-bubble-body .acrossLayout > div {
	margin-right: 20px;
}

.acrossFieldGroup {
	margin-bottom: 10px;
}

.acrossFieldGroup > div {
	float: left;
}

.acrossFieldGroup > .acrossBeforeFormLabel {
	padding: 0;
}

.acrossFieldGroup > .acrossAboveFormLabel {
	padding: 0;
}

.acrossAboveFormLabel > label,
.acrossBeforeFormLabel > label,
.acrossBeforeFormLabelNoField > label {
	line-height: 22px;
	display: block;
	float: left;
	padding: 0;
}

.acrossAboveFormLabel > label {
	line-height: 22px;
}

.acrossFormField > div {
	float: left;
}

.acrossFormField > div > span {
	padding-top: 2px;
	display: block;
	float: left;
}

.acrossFormField > label > input {
	padding-top: 2px;
}

.acrossFormField > label > span {
	padding-top: 2px;
	display: block;
	float: left;
}

.acrossFormField > div > input {
	padding: 1px 3px 0px 3px;
	height: 18px;
}

.acrossAboveFormLabel + .acrossFormField {
	clear: left;
}

.ext-strict .ext-ie8 .acrossFormField .x-form-display-field,
.ext-ie .acrossFormField .x-form-display-field, /*ie9*/
.ext-gecko .acrossFormField .x-form-display-field /*FF*/ {
	padding-top: 2px;
}

/*********************************************************************************
* downLayout styles
*********************************************************************************/
.downLayout {
	overflow: hidden;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.downLayout > .acrossLayout {
	width: 100%;
}

.downLayout .downFieldGroup {
	overflow: hidden;
	clear: left;
	width: 100%;
	min-height: 22px;
	margin-bottom: 10px;
}

.downLayout > .downFormField {
	float: left;
}

.downFormLabel {
	float: left;
	padding: 3px 5px 3px 0px;
	width: 30%;
}

.downBeforeFormLabel {
	float: left;
	padding: 0 5px 2px 0;
	white-space: pre-wrap;
}

.downBeforeFormLabel > label {
	display: block;
	float: left;
	line-height: 18px;
	padding-bottom: 0px;
}

.downAboveFormLabel + .downFormField {
	clear: left;
}

.downAboveFormLabel > label {
	line-height: 22px;
}

.downFieldGroup > div {
	float: left;
	padding-left: 0px;
}

.downFormField > div {
	float: left;
}

.acrossFieldGroup .acrossBeforeFormLabel,
.downFieldGroup .downBeforeFormLabel {
	border-bottom: 1px dotted #d3d2d2;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.downFieldGroup .downBeforeFormLabel:empty {
	border-bottom: none;
}

.acrossFieldGroup .acrossBeforeFormLabel + .acrossFormField,
.downFieldGroup .downBeforeFormLabel + .downFormField {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.ruleset_topNav .downFieldGroup .downBeforeFormLabel + .downFormField {
	width: auto;
}

.downBeforeFormLabelNoField,
.x_PlainHeader h2 {
	background: #fff;
	border-top: 1px solid #d7d7d7;
	border-bottom: 2px solid #069;
}

.downBeforeFormLabelNoField {
	display: flex;
	margin-bottom: 10px;
}

.downBeforeFormLabelNoField label {
	font-size: 11px;
	padding: 5px 10px;
	color: #000;
}

.acrossFieldGroup .acrossBeforeFormLabel + .acrossFormField {
	padding-left: 5px;
}

.downFieldGroup .downBeforeFormLabel {
	width: 200px;
}

h2.x_FontCaption,
.downBeforeFormLabelNoField.x_FontCaption {
	border: none;
	background: transparent;
	margin: 0;
	padding-left: 0;
}

.downLayout.x_BorderLightGray {
	margin-bottom: 10px;
}


/*********************************************************************************
* width override styles
*********************************************************************************/
.downFieldGroup .downBeforeFormLabel + .downFormField {
	width: calc(100% - 200px);
	padding-left: 5px;
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width75,
.downFieldGroup .downBeforeFormLabel.x_Width75 {
	width: 75px;
}

.downFieldGroup .downBeforeFormLabel.x_Width75 + .downFormField {
	width: calc(100% - 75px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width80,
.downFieldGroup .downBeforeFormLabel.x_Width80 {
	width: 80px;
}

.downFieldGroup .downBeforeFormLabel.x_Width80 + .downFormField {
	width: calc(100% - 80px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width90,
.downFieldGroup .downBeforeFormLabel.x_Width90 {
	width: 90px;
}

.downFieldGroup .downBeforeFormLabel.x_Width90 + .downFormField {
	width: calc(100% - 90px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width100,
.downFieldGroup .downBeforeFormLabel.x_Width100 {
	width: 100px;
}

.downFieldGroup .downBeforeFormLabel.x_Width100 + .downFormField {
	width: calc(100% - 100px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width110,
.downFieldGroup .downBeforeFormLabel.x_Width110 {
	width: 110px;
}

.downFieldGroup .downBeforeFormLabel.x_Width110 + .downFormField {
	width: calc(100% - 110px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width115,
.downFieldGroup .downBeforeFormLabel.x_Width115 {
	width: 115px;
}

.downFieldGroup .downBeforeFormLabel.x_Width115 + .downFormField {
	width: calc(100% - 115px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width120,
.downFieldGroup .downBeforeFormLabel.x_Width120 {
	width: 120px;
}

.downFieldGroup .downBeforeFormLabel.x_Width120 + .downFormField {
	width: calc(100% - 120px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width125,
.downFieldGroup .downBeforeFormLabel.x_Width125 {
	width: 125px;
}

.downFieldGroup .downBeforeFormLabel.x_Width125 + .downFormField {
	width: calc(100% - 125px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width130,
.downFieldGroup .downBeforeFormLabel.x_Width130 {
	width: 130px;
}

.downFieldGroup .downBeforeFormLabel.x_Width130 + .downFormField {
	width: calc(100% - 130px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width140,
.downFieldGroup .downBeforeFormLabel.x_Width140 {
	width: 140px;
}

.downFieldGroup .downBeforeFormLabel.x_Width140 + .downFormField {
	width: calc(100% - 140px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width145,
.downFieldGroup .downBeforeFormLabel.x_Width145 {
	width: 145px;
}

.downFieldGroup .downBeforeFormLabel.x_Width145 + .downFormField {
	width: calc(100% - 145px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width150,
.downFieldGroup .downBeforeFormLabel.x_Width150 {
	width: 150px;
}

.downFieldGroup .downBeforeFormLabel.x_Width150 + .downFormField {
	width: calc(100% - 150px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width152,
.downFieldGroup .downBeforeFormLabel.x_Width152 {
	width: 152px;
}

.downFieldGroup .downBeforeFormLabel.x_Width152 + .downFormField {
	width: calc(100% - 152px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width155,
.downFieldGroup .downBeforeFormLabel.x_Width155 {
	width: 155px;
}

.downFieldGroup .downBeforeFormLabel.x_Width155 + .downFormField {
	width: calc(100% - 155px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width160,
.downFieldGroup .downBeforeFormLabel.x_Width160 {
	width: 160px;
}

.downFieldGroup .downBeforeFormLabel.x_Width160 + .downFormField {
	width: calc(100% - 160px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width165,
.downFieldGroup .downBeforeFormLabel.x_Width165 {
	width: 165px;
}

.downFieldGroup .downBeforeFormLabel.x_Width165 + .downFormField {
	width: calc(100% - 165px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width170,
.downFieldGroup .downBeforeFormLabel.x_Width170 {
	width: 170px;
}

.downFieldGroup .downBeforeFormLabel.x_Width170 + .downFormField {
	width: calc(100% - 170px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width175,
.downFieldGroup .downBeforeFormLabel.x_Width175 {
	width: 175px;
}

.downFieldGroup .downBeforeFormLabel.x_Width175 + .downFormField {
	width: calc(100% - 175px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width180,
.downFieldGroup .downBeforeFormLabel.x_Width180 {
	width: 180px;
}

.downFieldGroup .downBeforeFormLabel.x_Width180 + .downFormField {
	width: calc(100% - 180px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width185,
.downFieldGroup .downBeforeFormLabel.x_Width185 {
	width: 185px;
}

.downFieldGroup .downBeforeFormLabel.x_Width185 + .downFormField {
	width: calc(100% - 185px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width190,
.downFieldGroup .downBeforeFormLabel.x_Width190 {
	width: 190px;
}

.downFieldGroup .downBeforeFormLabel.x_Width190 + .downFormField {
	width: calc(100% - 190px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width200,
.downFieldGroup .downBeforeFormLabel.x_Width200 {
	width: 200px;
}

.downFieldGroup .downBeforeFormLabel.x_Width200 + .downFormField {
	width: calc(100% - 200px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width205,
.downFieldGroup .downBeforeFormLabel.x_Width205 {
	width: 205px;
}

.downFieldGroup .downBeforeFormLabel.x_Width205 + .downFormField {
	width: calc(100% - 205px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width210,
.downFieldGroup .downBeforeFormLabel.x_Width210 {
	width: 210px;
}

.downFieldGroup .downBeforeFormLabel.x_Width210 + .downFormField {
	width: calc(100% - 210px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width215,
.downFieldGroup .downBeforeFormLabel.x_Width215 {
	width: 215px;
}

.downFieldGroup .downBeforeFormLabel.x_Width215 + .downFormField {
	width: calc(100% - 215px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width220,
.downFieldGroup .downBeforeFormLabel.x_Width220 {
	width: 220px;
}

.downFieldGroup .downBeforeFormLabel.x_Width220 + .downFormField {
	width: calc(100% - 220px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width225,
.downFieldGroup .downBeforeFormLabel.x_Width225 {
	width: 225px;
}

.downFieldGroup .downBeforeFormLabel.x_Width225 + .downFormField {
	width: calc(100% - 225px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width230,
.downFieldGroup .downBeforeFormLabel.x_Width230 {
	width: 230px;
}

.downFieldGroup .downBeforeFormLabel.x_Width230 + .downFormField {
	width: calc(100% - 230px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width240,
.downFieldGroup .downBeforeFormLabel.x_Width240 {
	width: 240px;
}

.downFieldGroup .downBeforeFormLabel.x_Width240 + .downFormField {
	width: calc(100% - 240px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width250,
.downFieldGroup .downBeforeFormLabel.x_Width250 {
	width: 250px;
}

.downFieldGroup .downBeforeFormLabel.x_Width250 + .downFormField {
	width: calc(100% - 250px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width254,
.downFieldGroup .downBeforeFormLabel.x_Width254 {
	width: 254px;
}

.downFieldGroup .downBeforeFormLabel.x_Width254 + .downFormField {
	width: calc(100% - 254px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width260,
.downFieldGroup .downBeforeFormLabel.x_Width260 {
	width: 260px;
}

.downFieldGroup .downBeforeFormLabel.x_Width260 + .downFormField {
	width: calc(100% - 260px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width270,
.downFieldGroup .downBeforeFormLabel.x_Width270 {
	width: 270px;
}

.downFieldGroup .downBeforeFormLabel.x_Width270 + .downFormField {
	width: calc(100% - 270px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width280,
.downFieldGroup .downBeforeFormLabel.x_Width280 {
	width: 280px;
}

.downFieldGroup .downBeforeFormLabel.x_Width280 + .downFormField {
	width: calc(100% - 280px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width285,
.downFieldGroup .downBeforeFormLabel.x_Width285 {
	width: 285px;
}

.downFieldGroup .downBeforeFormLabel.x_Width285 + .downFormField {
	width: calc(100% - 285px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width290,
.downFieldGroup .downBeforeFormLabel.x_Width290 {
	width: 290px;
}

.downFieldGroup .downBeforeFormLabel.x_Width290 + .downFormField {
	width: calc(100% - 290px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width300,
.downFieldGroup .downBeforeFormLabel.x_Width300 {
	width: 300px;
}

.downFieldGroup .downBeforeFormLabel.x_Width300 + .downFormField {
	width: calc(100% - 300px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width325,
.downFieldGroup .downBeforeFormLabel.x_Width325 {
	width: 325px;
}

.downFieldGroup .downBeforeFormLabel.x_Width325 + .downFormField {
	width: calc(100% - 325px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width350,
.downFieldGroup .downBeforeFormLabel.x_Width350 {
	width: 350px;
}

.downFieldGroup .downBeforeFormLabel.x_Width350 + .downFormField {
	width: calc(100% - 350px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width375,
.downFieldGroup .downBeforeFormLabel.x_Width375 {
	width: 375px;
}

.downFieldGroup .downBeforeFormLabel.x_Width375 + .downFormField {
	width: calc(100% - 375px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width400,
.downFieldGroup .downBeforeFormLabel.x_Width400 {
	width: 400px;
}

.downFieldGroup .downBeforeFormLabel.x_Width400 + .downFormField {
	width: calc(100% - 400px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width410,
.downFieldGroup .downBeforeFormLabel.x_Width410 {
	width: 410px;
}

.downFieldGroup .downBeforeFormLabel.x_Width410 + .downFormField {
	width: calc(100% - 410px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width420,
.downFieldGroup .downBeforeFormLabel.x_Width420 {
	width: 420px;
}

.downFieldGroup .downBeforeFormLabel.x_Width420 + .downFormField {
	width: calc(100% - 420px);
}

.acrossFieldGroup .acrossBeforeFormLabel.x_Width450,
.downFieldGroup .downBeforeFormLabel.x_Width450 {
	width: 450px;
}

.downFieldGroup .downBeforeFormLabel.x_Width450 + .downFormField {
	width: calc(100% - 450px);
}

.downFormField > label > .controlContainer > input {
	margin-right: 2px;
	margin-top: 2px;
}

.downFormField > div > input {
	padding: 1px 3px 0px 3px;
	height: 18px;
}

.downFormField > div > span {
	padding-top: 3px;
	display: block;
	float: left;
}

.toggleHeader + script + .downLayout {
	clear: left;
}

/*********************************************************************************
* controlContainer styles
*********************************************************************************/
.controlContainer {
	float: left;
	width: auto;
}

.acrossFieldGroup .controlContainer,
.downFieldGroup .controlContainer {
	width: 100%;
}

.ext-ie .controlContainer .x-form-radio {
	margin-top: 2px;
}

.controlContainer .x-form-check-wrap {
	float: left;
	padding-right: 3px;
	padding-top: 0px;
	padding-bottom: 1px;
}

.ext-ie .controlContainer .x-form-check-wrap input {
	width: 13px;
	height: 13px;
}

/*********************************************************************************
* required field styles
*********************************************************************************/

.required {
	color: #990000;
	font-size: 1.5em;
	padding-left: 5px;
	vertical-align: middle;
	text-decoration: none;
	display: inline-block;
}

.required > .controlContainer .x-form-field-wrap,
.required > .x-form-field-wrap {
	float: left;
}
