/* direct descendants of #main should have 10px left/right margins */
#main > * {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0 0 10px;
	width: 100%;
	padding: 0 10px;
	float: left;
}

#main > #fields > #navControls {
	margin-bottom: 0px;
}

#main > h2 {
	padding: 10px;
}

/* Reset definitions not included in Ext's version. */
table {
	border-spacing: 0;
	border-collapse: collapse;
}

html {
	overflow-y: scroll; 
}
#htmlBody{
    overflow: visible !important;
}

#body {
	width: 100%;
	overflow: hidden;
}

#wrapper { /* Set the page width */
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

#formContent {
	margin: 0px 0px 15px 0px;
	width: 100%;
	overflow: hidden;
}

.tabsContainer {
	margin-bottom: 10px;
}

.textAlignedRight {
	text-align: right;
}

.textAlignedCenter {
	text-align: center;
}

#fields.styleWithPanels {
	width: calc(100% - 250px);
}

.styleWithPanels, 
.styleWithOutPanels {
	float: left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.hideOffset {
	position: absolute;
	top: -10000px;
	left: -10000px;
}

#innerheader .formTable,
#innerheader .isReadOnlyContent {
	margin-bottom: 0;
}