#banner { 
	position: relative;
	margin-bottom: 0px;
	background-image: none;
	background-color: transparent;
	height: 80px;
}
.dct_pas  #banner, .dct_pty  #banner, .dct_bil #banner, .dct_bilact #banner{ 
	background: inherit;
	height: 80px;
    position: relative;
    width: 100%;
	vertical-align: bottom;
}
.ruleset_topNav .dct_pas #banner {
	height: 75px;
}
#banner #logo { 
	float: left;
	padding-top: 4px;
	padding-bottom: 4px;
}