.hyperlink, .hyperlink li, .hyperlink li a{
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
}
.hyperlink li a{
	text-decoration: underline;
}

.g-hyperlink > a {
	padding: 3px 0px;
	border: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.g-hyperlink .g-btn-text{ 
	text-decoration: underline;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	padding-left: 5px;
}

