/*************************
* MultiLanguage Styles 
**************************/
.localeFlagsBanner{
	float: left;
	position: relative;
}

.languageComboInputFlag{
	position:absolute;
	top:3px;
	left:52px;
}
.footerLanguageComboContainer{
	display:inline-block;
	float:right;
	padding-right:10px;
}

#footerLanguageCombo {
	right:115px;
	position:relative;
	top:0px;
}

#footerLanguageComboContainerID {
	float:right; 
}

#footerLanguageComboContainerID label {
	color: #b2b19f;
}

.languageComboCaptionLabel {
	text-align:right;
	width: 100%;
}

.languageComboCaptionContainer {
	display:inline-block;
	padding-right:3px;
	padding-top:3px;
	color:#FFFFFF;
	right:-95px;
	position:relative;
}

.ComboImage {
	padding-left :32px;
}