#loadingMask{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 19000;
	left: 0;
	top: 0;
	-moz-opacity: 0.0;
	opacity: 0.0;
	filter: alpha(opacity=0);
}

#loadingMessage {
	width: 25px;
	height: 25px;
	padding: 6px 5px 5px 6px;
	border: 3px solid #E0E0E0;
	background-color: #FFFFFF;
	border-radius: 6px;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

#loadingMessage #loadingText{
	margin-left: 65px;
	display: none;
}
