[class*="Width"] {
	max-width: 100%; /* prevent items from extending past parent's bounding rectangle */
}

#header:empty {
	display: none;
}

#wrapper {
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

#formContent {
	min-height: 400px;
}

#main {
	width: calc(100% - 215px);
	margin: 10px auto 7px;
	/* column B */
	overflow: visible;
	position: relative;
	float: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/* group box */
	background: #F2F7FA none repeat scroll 0 0;
	border-radius: 8px;
	border: 3px solid #FFFFFF;
	box-shadow: #000000 0px 0px 8px;
}

.Search_body #main {
	width: 100%;
}

.dct_errorDetails #main {
	width: 550px;
}

.bulletLink img {
	display: none;
}

/* The next 3 styles define the page title and instructions at the top of each page */
#pageTop {
	background: #006699;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#pageTitle { /* The surrounding div */
	width: 100%;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 13px;
	padding: 10px 0;
	line-height: normal;
}

#pageInst { /* The instructional text */
	background: #F2F7FA;
	color: black;
	padding-top: 10px;
	padding-left: 10px;
	line-height: 1.6em;
	width: calc(100% - -10px); /* this needs to be as wide as the page header so cover the colored background */
	margin-left: -10px;
}

#pageInst:empty {
	display: none;
}

.instItems { /* Use for individual div's defined inside the instruction to allow for spacing */
	padding: 2px;
}

.dct_dashboardHome #pageTitle, 
.dct_billingDashBoard #pageTitle, 
.dct_partyDashBoard #pageTitle {
	margin-left: 8px;
}

#supportIcons { /* Supporting icon navigation */
	top: -20px;
}

#requiredTxt {
	padding-left: 5px;
}

.noItems {
	padding-left: 5px;
	font-size: 11px;
}

/*new notification page padding-left*/
#messageTextLabel, 
#messageSubjectLabel, 
#messageTypeLabel {
	padding-left: 3px;
}

/* added some bottom padding for the button in the main content area */
#returnToPolicyA {
	padding-bottom: 8px;
	padding-left: 5px;
}

#resetPrintJobDetaulsA {
	padding-bottom: 8px;
	padding-left: 5px;
}

.ruleset_styleWithOutPanels {
	width: 731px;
	margin-left: 0px;
	padding-left: 5px;
	background: #ffffff;
	background: #ffffff url("../images/main-bg-bottom-asw.png") repeat-x right bottom;
}

.tskbr-g-m-item.dctpolicyattachmentstaskbargroupmenuitem .tskbr-g-m-i-primary span {
	color: #4065af;
}
/* TaskBar overrides */

.tskbr-g-menu .x-panel-header-text img {
	display: none;
}

.tskbr-g-menu .x-panel-header {
	color: #000;
}

.tskbr-g-menu button, #workbenchToolbar button {
	background-image: none !important;
}

#workbenchToolbar .x-btn-text-icon .x-btn-icon-small-left .x-btn-text {
	padding-left: 4px;
}

.tskbr-g-menu .x-btn-text-icon .x-btn-icon-small-left .x-btn-text {
	padding-left: 2px;
	padding-right: 2px;
}

/* Glyph Icons */
@font-face {
	speak: none;
	font-family: 'aswIcons';
	font-weight: normal;
	font-style: normal;
	src: url('fonts/fontawesome-webfont.eot?v=4.3.0');
	src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), 
		url('fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), 
		url('fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), 
		url('fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), 
		url('fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
}

[class^="icon"]:before, 
[class*=" icon"]:before, 
[class*="Icon"]:before {
	font-family: 'aswIcons';
	float: left;
	font-size: 17px;
}

a [class^="icon"], 
a [class*=" icon"], 
a [class*="Icon"],
a.iconLink {
	text-decoration: none;
}

a [class^="icon"]:hover, 
a [class*=" icon"]:hover, 
a [class*="Icon"]:hover {
	color: #000000;
}

.editIcon:before {
	content: "\f040";
}
.passIcon:before {
    content: "\f00c";
	color: #69BD45;
}
.passIcon:hover {
	color: #69BD45;
}
.editdoneIcon:before {
	content: "\f040";
}
.editdoneIcon:after {
	content: "\f00c";
	color: #69BD45;    
	font-family: aswIcons;
    margin-left: -7px;
    line-height: 24px;
}
.clockIcon:before {
	content: "\f017";
}
.clockIconDisabled:before {
	content: "\f017";
	color: grey;
}
.clockIconActive:before {
	content: "\f017";
	color: #69BD45;
}
.ruleset_topNav .clockIconActive:before {
    padding-top: 4px;
}
.ruleset_leftNav .clockIconActive:before {
    left: 88%;
}
.clockIconSuccess:before {
	content: "\f017";
}
.clockIconError:before {
	content: "\f017";
}
.cloudUploadIcon:before {
	content: "\f0ee";
}