#actiongroup {
	position: absolute;
	left: 0px;
	top: 45px;
	height: 29px;
	min-height: 29px;
	overflow: hidden;
	float: left;
	width: 100%;
	border-top: 1px bevel;
	border-bottom: 1px bevel;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#actiongroup ul{
	margin: 0;
	padding: 0;
	float: left;
	font-size: 12px;
	font-weight: bold;
	display: block;
}
#actiongroup li {
	float: left;
	padding: 0px 0px 0px 15px;
	font-size: 12px;
	white-space: nowrap;
}

#actiongroup ul > li {
	height: 25px;
	display: inline;
	list-style: none;
	border: 2px solid;
	text-align: center;
	cursor: pointer;
	overflow: visible;
	padding-right: 5px;
	padding-left: 3px;
}

.ext-ie #actiongroup ul > li {
	border-right: 2px groove;
	padding-right: 5px;
}

.ext-gecko #actiongroup ul > li {
	border-right: 2px groove;
	padding-right: 4.2px;
}

#actiongroup li a {
	float: left;
	display: block;
	padding: 10px 17px 7px 0px;
	text-decoration: none;
	float: left;
	color: #4C4C4C;
	text-decoration: none;
	line-height: 25px;
	font-family: arial, helvetica,sans-serif;	
	padding: 0px 10px;
	white-space: normal;
}
#actiongroup li:hover a span{
	text-decoration: none;
}
#actiongroup li.active a {
	border: 1px solid;
	line-height: 23px;
}
#mainactions img {
	float: left;
	margin-right: 6px;
	cursor: pointer;
}
#mainactions .mainActionsCaption{
	display: block;
	float: left;
	margin-top: 1px;
	cursor: pointer;
}
