/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~ Navigation Styles
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*********************************************************************************
* Left navigation panel styles
*********************************************************************************/
.ruleset_leftNav #leftPanelArea {
	background: #F2F8F2 none repeat scroll 0 0;
	margin-top: 10px;
	padding-bottom: 10px;
	left: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-radius: 8px;
	border: 3px solid #FFFFFF;
	box-shadow: #000000 0px 0px 8px;
	position: relative;
	width: 200px;
	margin-right: 15px;
	float: left;
}

.ruleset_leftNav #leftPanelArea div {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	float: left;
}

.ruleset_leftNav #leftPanelAreaBody {
	background: #007000;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-top: 10px;
}

.dct_errors #leftPanelArea {
	display: none;
}

/*********************************************************************************
* Left navigation panel header styles
*********************************************************************************/
/* panel header title styles*/
.ruleset_leftNav #leftPanelAreaBody > div:first-of-type > div:not(.pageNav) {
	padding-bottom: 10px;
}

.ruleset_leftNav #leftPanelAreaBody > div:first-child > div > div {
	color: #fff;
	padding: 0 10px 4px;
	font-size: 9px;
	font-weight: normal;
}

.ruleset_leftNav #leftPanelAreaBody > div:first-child > div > div:first-child  {
	font-weight: bold;
	font-size: 13px;
}

/* secondary titles */
.ruleset_leftNav #leftPanelAreaBody > div:not(:first-child) > div {
	background: #fff;
	color: #000;
	font-weight: bold;
	padding: 5px 10px;
	border-bottom: 2px solid #007000;
}

.ruleset_leftNav #leftPanelAreaBody div:empty {
	display: none;
}

/*********************************************************************************
* Left navigation panel navigation item styles
*********************************************************************************/
.ruleset_leftNav #leftPanelArea ul {
	margin-left: 5px;
	float: left;
	padding: 0;
	margin: 0;
	background-color: #F2F8F2;
	font-size: 14px;
	line-height: normal;
	list-style-type: none;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.ruleset_leftNav #leftPanelArea ul li {
	list-style-position: outside;
	list-style-image: none;
    border-bottom: 1px solid #a6cda6;
    border-left: 0;
    border-right: 0;
    border-top: 1px solid #fff;
    margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background-color: #F2F8F2;
	padding: 2px;
}

.ruleset_leftNav #leftPanelArea ul li a {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color: #000;
	font-size: 11px;
	font-weight: normal;	
	padding: 5px 8px;
	text-decoration: none;
	display: block;
}

.ruleset_leftNav #leftPanelArea ul li a:hover {
	background-color: #fff;
	border: 1px solid #007000;
	padding: 4px 7px;
}

.ruleset_leftNav #leftPanelArea ul li.activeTab a,
.ruleset_leftNav #leftPanelArea ul li.activeTab a:hover {
	background-color: #fff;
	border: solid 2px #007000;
	padding: 3px 6px;
}

/*********************************************************************************
* Top sub-navigation styles
*********************************************************************************/

.ruleset_topNav #main{
	width: 100%;
	margin-top: 10px;
}
.ruleset_topNav #pageTitle {
	width: auto;
	height: auto;
	margin-top: 0px;
	margin-left: 0px;
}

.ruleset_topNav #leftPanelArea {
	height: auto;
	width: 100%;
	overflow: hidden;
}
.ruleset_topNav #leftPanelAreaBody{
	width: 100%;
	overflow: hidden;
	margin-bottom: 5px;
}
.ruleset_topNav #leftPanelAreaBody .external-module, .externalModule-leftPanel{
	display: none;
}
.ruleset_topNav #pageNav {
	height: auto;
	width: 100%;
}
.ruleset_topNav #pageNav li, .ruleset_topNav #subactiongroup li{
	float: left;
	height: 30px;
}
.ruleset_topNav #pageNav li a, .ruleset_topNav #subactiongroup li a{
	display: block;
	text-decoration: none;
}
.ruleset_topNav #pageNav, .ruleset_topNav #subactiongroup{
	width: 100%;
	float: left;
}

.ruleset_topNav #pageNav li.activeTab a{
	border: 1px solid;
	line-height: 23px;
}

.ruleset_topNav #pageNav li:hover a span{
	text-decoration: none;
}

.ruleset_topNav #relatedActions ul {
	float: left;
	margin-top: 1px;
}
.ruleset_topNav #relatedActions li { 
	float: left; 
}
.ruleset_topNav #relatedActions li a{
	font-size: 11px;
}

.ruleset_topNav #logonActions, .ruleset_topNav #billingActiveSection, .ruleset_topNav #policyActiveSection, .ruleset_topNav #relatedActionsTitle{
	display: none;
}

.ruleset_topNav #pageNav, .ruleset_topNav #relatedActions {
	overflow: hidden;
	float: left;
	width: 100%;
	border-top: 2px solid;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	min-height: 29px;
	left: 0px;
	top: 45px;
}
.ruleset_topNav #pageNav ul, .ruleset_topNav #relatedActions ul {
	margin: 0;
	padding: 0;
	float: left;
	font-family: arial, helvetica,sans-serif;	
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	display: block;
}
.ruleset_topNav #pageNav ul li, .ruleset_topNav #relatedActions ul li {
	float: left;
	list-style: none outside none;
	position: relative;
	padding: 1px 0px 1px 0px;
	border-right: 2px groove;
}

.ruleset_topNav #pageNav ul > li, .ruleset_topNav #relatedActions ul > li{
	height: 25px;
	display: inline;
	list-style: none;
	float: left;
	text-align: center;
	cursor: pointer;
	overflow: visible;
	padding-right: 3px;
	padding-left: 3px;
}
.ruleset_topNav #pageNav ul li a, .ruleset_topNav #relatedActions ul li a{
	float: left;
	text-decoration: none;
	line-height: 25px;
	padding: 0px 2px;
	white-space: normal;
}
.ruleset_topNav #relatedActions li:hover{
	background-image: none;
}

.splitButtonDiv {
	border-radius: 5px !important;
}
.splitButtonNormal {
	border-radius: 5px 0px 0px 5px !important;
	margin-right: 0px !important;
}
.splitButtonGlyph {
	padding: 0px 2px 0px 2px !important;
	border-radius: 0px 5px 5px 0px !important;
}
.asyncButtonGlyph {
	padding: 0px 0px 0px 10px !important;
	border-radius: 0px 5px 5px 0px !important;
	float: right;
}
.splitNavLinkSpan {
	display: flex;
}

.splitNavLinkNormal {
	width: 85% !important;
}

.ruleset_leftNav .splitNavLinkGlyph {
	width: 15% !important;
	height: 23px;
}

.asyncNavLinkGlyph {
	margin-left: 3px;
    margin-top: -3px;
	height: 23px;
	float: right;
}

