/* notification styles */
.notificationDiv {
	min-height: 40px;
	width: 100%;
	margin-bottom: 10px;
	padding: 10px 0px 0px 0px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background: #FFFFFF;
	border: none;
	border-radius: 8px;
	box-shadow: #000000 0px 0px 1px;
}

#main > .notificationDiv {
	width: calc(100% - 20px);
	margin-right: 10px;
    margin-left: 10px;
}

.policyNotificationDiv {
	clear: both;
	min-height: 40px;
	width: calc(100% - 20px);
	margin: 5px auto 15px 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background: #FFFFFF;
	border: none;
	border-radius: 8px;
	box-shadow: #000000 0px 0px 1px;
	padding: 10px 10px 10px 30px;
}

.notificationIcon {
	float: left;
	margin: 5px;
	width: 35px;
	height: 35px;
	padding: 0px 10px 0px 0px;
}

.notificationMessage {
	padding-top: 10px;
	width: 95%;
}

.notificationIcon:before {
	color: #057ABA;
	content: "\f05a";
	font-size: 35px;
	width: auto;
}

.nWarn .notificationIcon:before {
	color: #EECB00;
	content: "\f06a";
	font-size: 35px;
}

.nError .notificationIcon:before {
	color: #BF0000;
	content: "\f071";
	font-size: 35px;
}

.InformationDiv {
	padding: 5px 10px 15px 10px;
	font-size: 1em;
	line-height: 1.5em;
	margin-top: 5px;
}

.notificationDiv A {
	text-decoration: underline;
}

/* error page styles */
.errorsPage #main, 
.errorsPage #pageTop, 
.errorsPage #pageTitle, 
.errorsPage #pageInst {
	background: #f2f2f2;
	color: #000000;
}

.errorsPage #main {
	width: 100%;
}

.errorsPage #banner {
	height: 45px;
}

.errorsPage #pageTitle {
	font-weight: normal;
	font-size: 20px;
}

.errorsPage #pageInst {
	padding: 0;
	margin: 0;
}

.errorsPage #pageInst p {
	padding: 0px;
}

.errorsPage .notificationDiv.nError {
	box-shadow: none;
	margin: 0 0 10px;
	padding: 10px;
	width: 100%;
	border: 3px solid #bf0000;
	float: left;
}

.errorsPage #errorDetailsSection,
.errorsPage #batchProcessJobTable,
.errorsPage #stactSection {
	float: left;
	width: 100%;
}

.errorsPage #batchProcessJobTable { 
	margin-bottom: 10px;
}

.errorsPage #errorDetailsSection th {
	font-weight: bold;
}

.errorsPage #errorDetailsSection td {
	word-break: break-all;
}

.errorsPage .InformationDiv {
	background: #fff;
	font-weight: bold;
	float: left;
	position: relative;
	padding: 0 0 0 45px;
	min-height: 35px;
}

.errorsPage .InformationDiv .notificationIcon {
	position: absolute;
	top: 10px;
	left: 0;
}

.errorsPage #errorActions {
	padding: 0px 10px;
}

/* help icon styles */
.helpIcon {
	font-family: 'aswIcons';
	font-size: 11px;
	width: 11px;
	height: 11px;
	display: inline;
	position: relative;
	text-decoration: none;
	margin: 0px 5px;
}

a.helpIcon:before {
	content: "\3f";
}
