.Party360Participants_body #pageTop, 
.ParticipantDetail #pageTop {
    display:none;
}

/* lightbox styles */
.dct_popup #body.x_columnB {
	width: calc(100% - 10px);
	background-color: transparent;
	padding: 15px;
	margin: 0px;
}

.Party360Participants a {
	cursor: pointer;
}

.dct_popup #leftPanelArea, 
.dct_popup #leftPanelAreaBody {
	height: 100%; 
}

/* basic text formatting */

.x_header .downFormField, 
.x_header .downFormField>div {
    float: none;
}

.Party360Participants .x_FloatRight, 
.ParticipantDetail .x_FloatRight{
	width: auto;
}

/* columnB styles */

.x_columnB .downLayout .g-action { /* party360 only? */
	float: right;
}

.x_columnB .downLayout .g-action .g-btn {
	float: right;
	margin-right: 0px;
	margin-left: 10px;
}

/* toggle header styles */

.Party360Participants_html .toggleHeader, 
.ParticipantDetail_html .toggleHeader {
	border: none;
	padding-left: 5px;
	font-weight: normal;
	font-size: 16px;
	height: 40px;
	}

.Party360Participants_html .toggleHeader:before, 
.ParticipantDetail_html .toggleHeader:before {
	width: 14px;
	display: inline-block;
	height: 30px;
    padding: 10px 8px 0px 8px;
	transform: none;
}

.Party360Participants_html .x-ie10  .toggleHeader:before, 
.ParticipantDetail_html .x-ie10 .toggleHeader:before{
	transform: none;
}

.Party360Participants_html .toggleHeader.toggle-collapsed:before, 
.ParticipantDetail_html .toggleHeader.toggle-collapsed:before {
	content: '\f0da';
}

.Party360Participants_html .toggleHeader:before, 
.ParticipantDetail_html .toggleHeader:before {
	content: '\f0d7';
}

.Party360Participants_html .collapsibleSection, 
.ParticipantDetail_html .collapsibleSection {
	padding: 0px;
}

/* Party360 Column B cards */

.x_columnB .x_widecard .x_effDate {
	text-align: left;
	display: block;
	box-sizing: border-box;
	height: auto;
	width: 100%;
}

.x_columnB .x_widecard .x_effDate .downFormField {
	float: left;
}
.x_columnB .x_widecard .x_effDate .x-form-display-field {
	padding-left: 0px;
}

.x_effDate div.x_Width30perc + div.downFormField {
	margin-left: 5px;
}

.downLayout.x_current-invoice > .acrossLayout, 
.downLayout.x_next-invoice > .acrossLayout {
	width: 50%;
	box-sizing: border-box;
	float: left;
	clear: left;
}

.downLayout.x_current-invoice > .x_FloatRight,
.downLayout.x_next-invoice > .x_FloatRight {
	margin-top: -10px;
	clear: none;
}

.x_columnB .x_next-invoice + .downFieldGroup,
.x_columnB .x_current-invoice + .downFieldGroup {
	width: 50%;
	float: left;
}

.x_columnB .x_current-invoice .acrossFormField, 
.x_columnB .x_next-invoice .acrossFormField {
	float: left;
}
.x_columnB .x_current-invoice .x_invoice-amt, 
.x_columnB .x_next-invoice .x_invoice-amt {
	float: right;
	margin-right: 10px;
}


/* left panel styles */

.outerleftpanelpopup, 
.innerleftpanelpopup, 
.innerleftpanelpopup > div {
	height: 100%;
}

#leftPanelArea .x_groupBox {
	height: calc(100vh - 200px);
	overflow-y: scroll;
	margin-top: 5px;
}

#leftPanelArea .x_groupBox:first-child {
	margin-top: -5px;
}

#leftPanelArea .x_card .g-action {
	display: block;
	background-color: #007000;
	width: 10px;
}

#leftPanelArea .x_card {
	box-sizing: border-box;
	padding: 0px;
}

.Party360Participants_html #leftPanelArea .toggleHeaderInner{
	width: auto;
}

#leftPanelArea .x_card .downLayout > .downFormField {
	margin: 0px 25px;
	width: calc(100% - 50px);
}
#leftPanelArea .x_card .downLayout .x_title {
	margin-top: 15px;
}
#leftPanelArea .x_card .downLayout > .downFormField:last-child {
	margin-bottom: 10px;
}


/* columnA styles */

.ParticipantDetail #leftPanelArea {
	width: 35%;
	padding: 15px 0 15px 15px;
	margin: 0px;
}

.ParticipantDetail #leftPanelAreaBody {
	margin: 0px;
}

.ParticipantDetail #leftPanelAreaBody .innerleftpanel {
	margin: 0px;
	padding: 0px;
	width: 99%;
}

.ParticipantDetail #leftPanelAreaBody #paging .g-btn.g-standard .g-btn-text { 
	display: inline
}

.ParticipantDetail #leftPanelAreaBody .g-btn.g-standard {
	position: absolute;
	right: 0;
	bottom: 0px;
	padding: 0px 10px 0px 0px;
	margin: 0px;
	z-index: 200;
	height: 22px;
	width: auto;
}

.ParticipantDetail #leftPanelAreaBody .g-btn.g-standard a {
	padding: 0px;
}

.ParticipantDetail #leftPanelAreaBody .collapsibleSection {
	overflow: hidden;
	margin-top: 0px;
}

.ParticipantDetail #leftPanelAreaBody .collapsibleSection .g-btn.g-standard {
	position: relative;
	top: 0px;
	left: 0px;
}

.ParticipantDetail #leftPanelAreaBody .collapsibleSection .g-btn.g-standard a {
	width: auto;
	height: auto;
	background-image: none;
}

#leftPanelArea .innerleftpanelpopup > .downLayout > .downLayout {
	position: relative;
	width: calc(100% - 10px)
}

#leftPanelArea .innerleftpanelpopup > .downLayout > .x_groupBox {
	width: 100%;
}

.innerleftpanelpopup .downLayout .g-action {
	margin: 0px;
}

#leftPanelAreaBody .x_card > div {
	padding-bottom: 10px;
}

#leftPanelAreaBody .x_card .g-action a {
	z-index: 100;
}

#leftPanelAreaBody .x_party360LeftList .g-action {
	height: 100%;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
}
	
#leftPanelAreaBody .x_party360LeftList .g-action .g-btn {
	height: 100%;
}

#leftPanelAreaBody .x_party360LeftList .downLayout:hover .g-action {
	display: block;
}

#leftPanelAreaBody .x_party360LeftList .downLayout:hover .g-action .g-btn {
	height: 100%;
	width: auto;
	margin: 0;
	padding: 0;
	float: left;
}

#leftPanelAreaBody .x_party360LeftList .g-action a {
	display: block;
	width: auto;
	min-width: 400px;
	max-width: 500px;
	height: 100%;
    position: relative;
    top: 0px;
    left: 0px;
	border-radius: 0;
	float: left;
	text-decoration: none;
	z-index: 200;
}

#leftPanelAreaBody .x_party360LeftList .g-action a .g-btn-text {
	display: none;
}

#leftPanelAreaBody .x_party360LeftList .downLayout {
	padding: 0;
	padding: 10px 0px;
	margin: 0px;
	position: relative;
	box-sizing: border-box;
}

#leftPanelAreaBody .x_party360LeftList .downLayout .downLayout .downFormField {
	clear: left;
}

#leftPanelAreaBody .x_party360LeftList .downLayout .acrossLayout {
	box-sizing: border-box;
	overflow: visible;
	position: relative;
	min-height: 10px;
}

#leftPanelAreaBody .x_party360LeftList .downLayout .x_FloatLeft {
	float: left;
	clear: left;
	margin-left: 15px;
	width: calc(40% - 15px);
}

#leftPanelAreaBody .x_party360LeftList .downLayout .x_FloatLeft > div {
	float: left;
	width: 100%;
}

#leftPanelAreaBody .x_party360LeftList .downLayout .x_FloatRight {
	float: right;
	margin-right: 15px;
	width: calc(60% - 15px);
}

#leftPanelAreaBody .x_party360LeftList .downLayout .x_FloatLeft .acrossLayout .acrossFieldGroup,
#leftPanelAreaBody .x_party360LeftList .downLayout .x_FloatLeft .acrossLayout > .acrossFormField, 
#leftPanelAreaBody .x_party360LeftList .downLayout .x_FloatLeft .controlContainer {
    width: 100%;
    text-overflow: ellipsis;
}

.x_party360LeftList .downLayout .x_FloatLeft .acrossLayout .acrossFieldGroup > div {
	float: none;
	display: inline-block;
}

#leftPanelAreaBody .x_party360LeftList .downLayout .x_FloatLeft .controlContainer div {
    overflow: hidden;
}

#leftPanelAreaBody .x_party360LeftList .downLayout .x_FloatRight .acrossLayout {
	float: right;
	clear: right;
}

#leftPanelAreaBody .x_party360LeftList .downLayout .x_FloatRight .effDate > div {
	float: none;
}

#leftPanelAreaBody .x_party360LeftList .downLayout .acrossLayout .acrossFormField, 
#leftPanelAreaBody .x_party360LeftList .downLayout .acrossLayout>div {
	margin: 0px;
}

#leftPanelAreaBody .x_party360LeftList .downLayout .x_FloatLeft,
#leftPanelAreaBody .x_party360LeftList .downLayout .x_FloatRight {
	box-sizing: border-box;
	padding: 5px 0px;
}

#leftPanelAreaBody .x_party360LeftList .downLayout .acrossLayout .acrossFormField {
	padding: 0px;
}
#leftPanelAreaBody .x_party360LeftList .downLayout .acrossLayout.x_title {
	padding: 0px 14px;
	margin: 2px 0px;
	line-height: 25px;
	box-sizing: border-box;
	width: auto;
}
.x_party360LeftList .x_title .x-form-display-field {
	padding: 0px;
	margin: 0px;
}

#leftPanelAreaBody .x_party360LeftList .acrossLayout, 
#leftPanelAreaBody .x_party360LeftList .acrossLayout div {
	width: auto;
}

#leftPanelAreaBody .x_party360LeftList .x_lob div {
	width: 100%;
	text-overflow: ellipsis;
}

#leftPanelAreaBody .x_party360LeftList .x_FloatRight .acrossLayout > div {
	float: right;
}

#leftPanelArea .x_party360LeftList .acrossFieldGroup > .acrossBeforeFormLabel {
	padding: 0px 2px 0px 0px;
	border: none;
	width: auto;
}

.x_party360LeftList .acrossBeforeFormLabel > label {
	line-height: normal;
}

.x_party360LeftList .acrossFieldGroup, 
.x_party360LeftList .acrossFieldGroup > .acrossBeforeFormLabel > label {
	padding: 0px;
}

.x_party360LeftList .x-form-display-field, 
.x_party360LeftList .acrossFormField .x-form-display-field {
	white-space: normal;
	margin: 0px;
	padding: 0px;
}

.x_party360LeftList .x-form-display-field-default {
	line-height: normal;
}

.x_party360LeftList .x-form-item-body {
	height: auto;
}

 .x_party360LeftList .x_FloatRight .acrossFieldGroup .acrossBeforeFormLabel > label,  
.x_party360LeftList .x_FloatRight .acrossFieldGroup .acrossFormField .controlContainer {
	float: right;
}

#leftPanelAreaBody .x_party360LeftList .acrossLayout.x_effDate .acrossFormField {
	margin: 0px;
	display: inline;
	float: none;
}

#leftPanelAreaBody .x_party360LeftList .x_effDate div {
	width: auto;
	float: none;
	display: inline;
}

.x_effDate {
	text-align: right;
}

.x_effDate .controlContainer, .x_effDate .x-form-display-field {
	float: none;
	display: inline;
} 
.x_effDate .x-form-display-field {
	margin: 0px;
}

#leftPanelAreaBody .x_datafields .acrossBeforeFormLabel {
	float: right;
}

#leftPanelAreaBody .x_party360LeftList .emptyLayout {
	display: none;
}

.badge { /* is this being used? */
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    color: #FFF;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #777;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    float: none;
	position: absolute;
    margin-top: 18px;
    right: 0px;
}

#leftPanelAreaBody .x_party360LeftList .downLayout.x_lock {
	width: 20px;
	float: right;
	border: none;
	padding: 0px;
	height: 20px;
}

.x_lock:before {
	content: "\f023";
}

#leftPanelAreaBody #paging .g-btn{
	width: 35px;
	border: none;
	padding: 5px;
	height: 35px;
	box-sizing: border-box;
}

#leftPanelAreaBody #paging .g-btn .g-btn-text {
	display: none;
}

#leftPanelAreaBody #previousPage a:before {
	content: "\f0d9";
}
#leftPanelAreaBody #nextPage a:before {
	content: "\f0da";
}

#leftPanelAreaBody #paging .g-btn > a {
	color: #686868;
}

	#leftPanelAreaBody #paging .g-btn > a:hover,
	#leftPanelAreaBody #paging .g-btn > a:focus {
		text-decoration: none;
		color: #006699;
	}

/* selected item using custom containers */

.x_party360LeftList .cc-bubble {
	float: none;
	margin-bottom: 0px;
}
.x_party360LeftList .cc-bubble-tl, 
.x_party360LeftList .cc-bubble-tr, 
.x_party360LeftList .cc-bubble-tc,
 .x_party360LeftList .cc-bubble-ml, 
.x_party360LeftList .cc-bubble-mr,
.x_party360LeftList .cc-bubble-bl, 
.x_party360LeftList .cc-bubble-br, 
.x_party360LeftList .cc-bubble-bc {
	background-image: none;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
}

.x_party360LeftList .cc-bubble-body {
	margin: 0;
	padding: 0;
}

#leftPanelAreaBody .collapsibleSection .acrossLayout > div.defaultXHTML {
	position: absolute;
	top: 0px;
    left: 0px;
    width: 100%;
	height: 40px;
	box-sizing: border-box;
	}

div.defaultXHTML .counter {
	float: right;
	width: auto;
	padding: 2px 4px;
	margin-top: 20px;
	box-sizing: border-box;
}

/* new collapse headers */
.x_CollapseAction {
	display: block;
}

/* Details section header */

.x_detailsHeader .downLayout.x_FloatLeft {
	width: 50%;
	box-sizing: border-box;
	clear: left;
}
.x_detailsHeader .downLayout.x_FloatRight {
	width: 40%;
	box-sizing: border-box;
	clear: right;
}
.x_detailsHeader > .downLayout.x_FloatLeft {
	width: 60%;
}
.x_detailsHeader .downLayout>.downFieldGroup {
	min-height: 15px;
	margin-bottom: 2px;
}
.x_detailsHeader .downBeforeFormLabel, 
.x_detailsHeader .downFormField {
	width: auto;
	padding-right: 0px;
	padding-left: 0px;
}
.x_detailsHeader .downLayout > .downFormField {
	clear: left;
}
.x_detailsHeader .x_FloatRight .downFieldGroup {
	display: block;
	float: right;
	clear: right;
	width: auto;
}
.x_detailsHeader .x_FloatRight > .downFormField {
	display: block;
	float: right;
	clear: right;
	width: auto;
}
.x_detailsHeader .x_FloatRight .x-form-display-field, 
.x_detailsHeader .x_FloatRight .downBeforeFormLabel {
	padding-top: 1px;
	padding-bottom: 0px;
	line-height: normal;
}

.x_detailsHeader .x_title {
	margin: 0px;
}

.x_detailsHeader .x_title .downFormField {
	padding: 0px;
}

.x_detailsHeader .x_effDate {
	float: left;
	clear: left;
	min-height: 15px;
	text-align: left;
	width: 50%;
}

/* Responsive */

@media only screen and (max-width: 1100px)
{
	#leftPanelAreaBody .x_party360LeftList .downLayout .x_FloatRight .acrossFieldGroup > div {
		float: right;
		clear: right;
	}
	.downLayout.x_current-invoice > .x_FloatRight,
	.downLayout.x_next-invoice > .x_FloatRight {
		position: absolute;
		width: auto;
		right: 0px;
	}
}
