#agencyProducerFilterOptionsSection div #agencyField {
	float: left;
	margin-right: 5px;
}

.ratingToolBar {
	position: fixed !important;
	left: auto;
	top: auto;
	right: 0px;
	bottom: 0px;
	display: table;
	width: 200px;
	z-index: 99;
}

#ratemessages {
	width: 100%;
	overflow: hidden;
}

#justMessages {
	padding-left: 20px;
	margin: 0;
	padding-top: 10px;
}

	#justMessages li {
		padding-left: 26px;
		padding-top: 0px;
		list-style: none;
		line-height: 16px;
		padding-bottom: 10px;
	}

.rateMsgBody {
	padding: 10px;
}

	.rateMsgBody li {
		padding-left: 26px;
		padding-top: 0px;
		margin: 15px 5px;
	}

.externalModule-leftPanel {
	margin: 10px 0px;
	width: 100%;
	overflow: hidden;
}

.errorsPage .externalModule-leftPanel {
	display: none;
}
/* Policy Paging Grids */
#paging {
	width: 100%;
}
