.dct_popup #wrapper, 
.dct_popup #mainBody, 
.dct_popup #fields, 
.dct_popup #pageAction {
	width: 100%;
	margin: 0;
}

.dct_popup #formContent {
	min-height: 0px;
}

.dct_popup #main {
	width: 100%;
	padding: 0;
	margin: 0px;
	border: none;
	border-radius: 0px;
	box-shadow: none;
}

.dct_popup #pageTop {
	margin: 0px;
	width: 100%;
	height: 25px;
	border: none;
	border-radius: 0px;
	margin-bottom: 10px;
}

.dct_popup #pageTop > #pageTitle {
	width: auto;
	height: 25px;
	margin-top: 0px;
	height: 25px;
	padding: 3px 5px 5px 15px;
	font-weight: bold;
	color: #fff;
}

.dct_popup #leftPanelArea, 
.dct_popup #information .dct_popup #documentation, 
.dct_popup #pageInst, 
.dct_popup #pageNav {
	display: none;
}

.dct_popup #wrapper {
	width: 100%;
	margin: 0px 0px 0px 0px;
}

.dct_popup #wrapper #formContent #main div.styleWithOutPanels {
	width: 100%;
	overflow: hidden;
}

/* Confirm Address Popup */
/* Payment Schedule Popup */
/* Policy Coverages Popup */
/* Vehicle Coverages Popup */
.ConfirmAddress .cc-bubble-body, 
.PaymentSchedule .cc-bubble-body, 
.PolicyCoverages .cc-bubble-body, .VehicleCoverages .cc-bubble-body {
	margin-top: 0px;
}

/* Policy Coverages Popup */
.dct_popup .PolicyCoverages #main #pageTop {
	background: url("../images/page-title-bg-asw.png") repeat-x scroll left 0 transparent;
	height: 45px;
}
/* Vehicle Coverages Popup */
.dct_popup .VehicleCoverages #main #pageTop {
	background: url("../images/page-title-bg-asw.png") repeat-x scroll left 0 transparent;
	height: 45px;
}
/* Confirm Address Popup */
.dct_popup .ConfirmAddress #main #pageTop {
	height: 45px;
}

.ConfirmAddress_body #wrapper {
	overflow: hidden;
}

.PaymentSchedule #main #pageTop, 
.PolicyCoverages #main #pageTop, 
.VehicleCoverages #main #pageTop {
	height: 18px;
}

.dct_popup div.PaymentSchedule #main > #fields > #body h2 {
	width: auto;
}

.dct_popup .PaymentSchedule #main #pageTop #pageTitle {
	display: none;
}

/* Alert Message Styles */
.displayedAlertMsg .x-window-body {
	border: 1px solid;
	background: #F4F4F4 !important;
	background-color: #F4F4F4;
}

.PaymentSchedule_body .x_PaddingLeft10 {
	padding-left: 0px;
}

.OccupancyDetail_body .formTable {
	margin-right: 8px;
}

/*Select Agency*/
.dct_selectAgency #pageTitle {
	background: #069;
	position: relative;
	overflow: hidden;
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/* Import Location Popup */
.dct_popup .noPolicies #importCancel {
	clear: left;
	margin-top: 5px;
	margin-bottom: 3px;
}
/* P360  */
.dct_popup div#formContent.ParticipantDetail div#main{
	width: 60%;
}
.dct_popup div#formContent.ParticipantDetail div#leftPanelArea{
	display: block;
	width: 35%;
	margin-top: 0px;
	margin-right: 0px;
	padding-top: 0px;
	padding-left: 5px;
}
.dct_popup div#formContent.ParticipantDetail div#leftPanelArea div#leftPanelAreaBody div#relatedActions, .dct_popup div#formContent.ParticipantDetail div#leftPanelArea div#leftPanelAreaBody div#policyActiveSection {
	display: none;
}
/* P360 */