#portalNavigationDiv {
	position: relative;
	float: left;
	left: 10px;
	top: 5px;
	height: 35px;
	padding: 2px 2px 2px 0px;
	right: 0px;
	border: none;
	margin-right: 10px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

/*#portalNavigationDiv input {
	line-height: 28px;
	height: 28px;
}*/

#portalNavigationDiv input.x-form-text-default {
	font-size: 15px;
	line-height: 33px;
	color: #FFFFFF;
	background: transparent;
	padding-left: 10px;
	min-height: 33px;
}

#portalNavigationDiv .x-form-text-wrap, 
#portalNavigationDiv input {
	border: none;
}

#portalNavigationDiv .x-form-trigger {
	width: 24px;
	height: 28px;
	background: url('../images/trigger_header.gif') no-repeat;
	border: none;
}

#portalNavigationDiv .x-trigger-wrap-focus .x-form-trigger {
	background-position: 0px 0px;
}

#portalNavigationDiv .x-trigger-wrap-focus .x-form-trigger-over {
	background-position: -24px 0px;
}

#productNavigationDiv {
	position: relative;
	float: left;
	margin-left: 0px;
	color: #FFFFFF;
	font-size: 15px;
	margin-right: 5px;
	height: 35px;
	width: auto;
	top: 5px;
	left: 10px;
}

#productNavigationDiv #id_LogOut {
		margin-left: 0px;
}

#productNavigationDiv a {
	font-size: 15px;
	line-height: 33px;
	padding: 0px 9px;
	float: left;
	margin: 0px 8px 0px 0px;
	text-decoration: none;
	color: #FFFFFF;
	height: 33px;
	width: auto;
	border: 1px solid #2e2e2e;
	border-radius: 4px;
	text-shadow: none;
	-moz-box-shadow: 0px 0px 0.25px 1px #777777;
	-webkit-box-shadow: 0px 0px 0.25px 1px #777777;
	box-shadow: 0px 0px 0.25px 1px #777777;
}

#productNavigationDiv a:hover,
#productNavigationDiv a:focus {
	background: #cfcfcf;
	color: #515151;
	text-decoration: none;
	filter: none;
}

#specialactions {
	position: absolute;
	top: 5px;
	right: 4px;
	width: auto;
	height: 36px;
	background: inherit;
	float: right;
	margin-right: 300px;
}

#contextactions {
	padding-top: 5px;
	width: auto;
	height: 36px;    
	float: left;
    margin-left: 4px;
}
.specialActionLeft, .specialActionMiddle, .specialActionRight {
	cursor: pointer;
}

.specialActionLeft, .contextActionLeft {
	width: 0px;
	height: 24px;
	float: left;
}

.specialActionMiddle, .contextActionMiddle {
	padding: 7px 0px 0px 0px;
	height: 20px;
	float: left;
}

.specialActionRight, .contextActionRight {
	width: 0px;
	height: 24px;
	float: left;
}

.specialActionsCaption, .contextActionsCaption {
	font-size: 15px;
	overflow: visible;
}

#specialactions a, 
#contextactions a {
	height: 33px;
	float: left;
	margin-right: 5px;
	padding: 0px 9px;
	text-decoration: none;
	font-size: 15px;
	text-shadow: none;
	border: 1px solid;
	border-radius: 4px;
	-moz-box-shadow: 0px 0px 0.25px 1px #777777;
	-webkit-box-shadow: 0px 0px 0.25px 1px #777777;
	box-shadow: 0px 0px 0.25px 1px #777777;
}

#specialactions a img {
	display: none;
}

#specialactions a span,
#contextactions a span {
	display: block;
	float: left;
}

#specialactions a:hover,
#specialactions a:focus,
#contextactions a:hover, 
#contextactions a:focus  {
	text-decoration: none;
}

a#id_party360 .contextActionsCaption {
	visibility: hidden;
}
a#id_party360 .contextActionMiddle {
	background: url('../images/icon_360-wht.svg') center 30% no-repeat;
	background-size: 35px;
}

a#id_party360:hover .contextActionMiddle,
a#id_party360:focus .contextActionMiddle {
	background-image: url('../images/icon_360-gry.svg');
}