.spotlight{
	right: 10px !important;
    left: inherit !important;
    top: 50%;
}

.spotlight-expand{
	top: 10px !important;
	right: 10px !important;
	left: inherit !important;
}

.spotlight-expand > .x-header-draggable {
    cursor: default;
}

#zoomLens{
	z-index: 20000;
}

.x-tip-spotlight{
	z-index: 20000 !important;
}

.spotlightMinusIcon:before{
	content: "\f068";
	color: white;
	font-size: 20px;
	margin-top: 1;
}

.spotlightPlusIcon:before{
	content: "\f067";
	color: white;
	font-size: 20px;
}

.spotlightExpandIcon:before{
	content: "\f065";
	color: white;
	font-size: 20px;
}

.spotlightCompressIcon:before{
	content: "\f066";
	color: white;
	font-size: 20px;
}

.spotlightExternalLinkIcon:before{
	content: "\f0c5";
	color: white;
	font-size: 20px;
	margin-left: -2px;
}

.spotlightMinimizeIconActive:before {
	content: "\f146";
	color: #69BD45;
}

.spotlight-restore-cls:before{
	content: "\f067";
	color: white;
	font-size: 20px;
}

.spotlightToolbarBtn:hover{
	border: solid .2px;
	border-radius: 5px;
	border-color: #9d9d9d;
	background-color: #f3f3f3;
	color: black;
}

.spotlightZoomInIcon:before{
	content: "\f00e";
	font-size: 20px;
}

.spotlightZoomOutIcon:before{
	content: "\f010";
	font-size: 20px;
}

.spotlightFullPageIcon:before{
	content: "\f0b2";
	font-size: 20px;
}

.spotlightTitleText{
    font-size: 12px;
    color: white;
    background: #006699;
	border: 0;
	margin-left: 5px;
    padding: 5;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    float: left;
    font-weight: bold;
	cursor: default;
	right: 5px;
}

#spotlightTitleText-body{
    background: transparent;
    border: none;
    box-shadow: none;
}