.toggleHeader {
	width: 100%;
	display: flex;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-bottom: 1px solid #006699;
}

.x-ie9 .toggleHeader {
	clear: both;
	min-height: 37px;
}
.toggleHeader:after {
  content: "";
  display: table;
  clear: both;
}

.toggleHeader:before {
	float: left;
	content: "\f078";
	font-family: aswIcons;
	font-size: 16px;
	width: 35px;
	transform: translateY(50%) translateY(-8px);
	text-align: center;
}

.x-ie10 .toggleHeader:before{
	transform: translateY(52%);
}

.x-ie9 .toggleHeader:before {
	min-height: 37px;
}

.toggleHeader.toggle-collapsed:before {
	content: "\f054";
}

.toggleHeader .toggleHeaderInner {
	float: left;
	font-size: 13px;
	font-weight: 700;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 10px;
	width: calc(100% - 36px);
	border-left: 1px solid #006699;
	min-height: 37px;
}

.collapsibleSection {
	padding-bottom: 10px;
	padding-top: 10px;
}

.toggleDivContainer { 
	border: none;
}

.toggleHeaderNoHover {
	font-size: 1.1em;
	font-weight: bold;
	color: #558ed5;
	border-bottom: 0px solid #83A6D3;
}

.toggleHeaderNoHover {
	margin: 5px 0px 5px 0px;
	padding: 1px 0px 3px 0px;
	clear: both;
}
