.widgetAffectedVal {
	margin-left: 15px;
	text-align: right;
}

.widgetComboCaption {
	float: left;
	clear: both;
	width: 50%;
}

.widgetComboAffectedVal {
	margin-left: 15px;
	text-align: right;
	padding-right: 20px;
}

.radioItemComparison {
	float: left;
	width: 100%;
	overflow: hidden;
	min-height: 18px;
}

.optSpecialContainer {
	padding-right: 10px;
}

.optSpecialRadio {
	overflow: hidden;
	min-height: 18px;
	background-image: url(../images/icons/star_gold.png);
	background-repeat: no-repeat;
	background-position: right top;
}

.languageItem {
	line-height: 20px !important;
	height: 24px;
	display: block;
}

.languageComboCaption {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.languageComboImage {
	display: block;
	margin: 0px;
	position: relative;
	top: -16px;
	left: 45px;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	background-size: cover;
}

.extValue {
	border: 1px solid #b5b8c8;
}

.extSpecial {
	background-image: url(../images/icons/star_gold.png);
	background-repeat: no-repeat;
	background-position: right;
}

#partyTools {
	margin-left: -2px;
	padding: 0px;
}

/*Party Licenses Page*/
.Licenses_body table.formTable div.acrossLayout table.formTable {
	table-layout: fixed;
	width: 600px;
}

.Licenses_body table.formTable th {
	word-wrap: break-word;
}

.Licenses_body table.formTable td {
	word-wrap: break-word;
}

.Licenses_body table.formTable table.formTable td div,
.Licenses_body table.formTable table.formTable td div div {
	max-width: 60px;
	white-space: normal;
}

/*Party Locations Page*/
.LocationDetail_body div.downLayout > table.formTable {
	table-layout: auto;
	width: 100%;
}

.LocationDetail_body div.acrossLayout > table.formTable {
	table-layout: auto;
	width: 700px;
}

.LocationDetail_body table.formTable th {
	word-wrap: break-word;
}

.LocationDetail_body table.formTable td {
	word-wrap: break-word;
}

.LocationDetail_body .dct_pty table.formTable td div,
.LocationDetail_body .dct_pty table.formTable td div div {
	max-width: 60px;
	white-space: normal;
}

/*Party Other Names Page*/
.OtherNames_body div.downLayout > table.formTable {
	table-layout: auto;
	width: 100%;
}
.OtherNames_body div.acrossLayout > table.formTable {
	table-layout: auto;
	width: 700px;
}

.OtherNames_body table.formTable th {
	word-wrap: break-word;
}

.OtherNames_body table.formTable td {
	word-wrap: break-word;
}

.OtherNames_body table.formTable td div,
.OtherNames_body table.formTable td div div {
	max-width: 60px;
	white-space: normal;
}

/*Party Addresses Page*/
.AddressLocationDetail_body div.acrossLayout > table.formTable {
	table-layout: auto;
	width: 700px;
}
.AddressLocationDetail_body div.downLayout > table.formTable {
	table-layout: auto;
	width: 100%;
}
.AddressLocationDetail_body table.formTable th {
	word-wrap: break-word;
}

.AddressLocationDetail_body table.formTable td {
	word-wrap: break-word;
}

.AddressLocationDetail_body table.formTable td div,
.AddressLocationDetail_body table.formTable td div div {
	max-width: 60px;
	white-space: normal;
}

.AddressLocationDetail_body div.x_DataTable table.formTable td div,
.LocationDetail_body div.x_DataTable table.formTable td div {
	max-width: 75px;
}

.AddressLocationDetail_body table.formTable td.x_AddressDisplay,
.LocationDetail_body table.formTable td.x_AddressDisplay {
	width: 300px;
}

.AddressLocationDetail_body table.formTable td.x_AddressDisplay div,
.AddressLocationDetail_body table.formTable td.x_AddressDisplay div div {
	max-width: 250px;
	width: 250px;	
	white-space: normal;
}

.LocationDetail_body table.formTable td.x_AddressDisplay div,
.LocationDetail_body table.formTable td.x_AddressDisplay div div {
	max-width: 250px;
	width: 250px;	
	white-space: normal;
}